
html,body{height:100%}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:11px;line-height:120%;color:#000;background:#fff;min-width:990px}
*{font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:100%;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;vertical-align:middle}.lt-ie8 audio,.lt-ie8 canvas,.lt-ie8 video{display:inline;zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}
svg:not(:root){overflow:hidden}
a{color:#02a3aa}a:hover,a:focus{color:#02a3aa}
a:visited{color:#02a3aa}
a:focus,input:focus{outline:none}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{line-height:120%}h1 a,.h1 a,h2 a,.h2 a,h3 a,.h3 a,h4 a,.h4 a,h5 a,.h5 a,h6 a,.h6 a{text-decoration:none}h1 a:hover,.h1 a:hover,h2 a:hover,.h2 a:hover,h3 a:hover,.h3 a:hover,h4 a:hover,.h4 a:hover,h5 a:hover,.h5 a:hover,h6 a:hover,.h6 a:hover{text-decoration:underline}
h1,.h1{font-size:16px;color:#000;font-weight:bold;margin:0 0 15px 0}h1 a,.h1 a{color:#000}
h2,.h2{font-size:15px;color:#000;font-weight:bold;margin:0 0 10px 0}h2 a,.h2 a{color:#000}
h3,.h3{font-size:14px;color:#000;font-weight:bold;margin:0 0 15px 0}h3 a,.h3 a{color:#000}
h4,.h4{font-size:13px;color:#000;font-weight:bold;margin:0 0 10px 0}h4 a,.h4 a{color:#000}
h5,.h5{font-size:12px;color:#000;font-weight:bold;margin:0 0 10px 0}h5 a,.h5 a{color:#000}
h6,.h6{font-size:11px;color:#000;font-weight:bold;margin:0 0 10px 0}h6 a,.h6 a{color:#000}
p{padding-bottom:10px;line-height:130%}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre,code,kbd,samp{font-family:Courier,'Courier New',monospace}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
sub,sup{font-size:9px;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
legend{border:0;white-space:normal}.lt-ie8 legend{margin-left:-7px}
ul,ul.default{margin:0 0 10px 0}ul li,ul.default li{margin:0 0 10px 0;list-style-position:inside;list-style-type:square}
ul.default li{margin:0 0 5px 20px;list-style-position:outside;list-style-type:disc}
ol{margin:5px 0 20px 20px}ol li{list-style-position:outside}
nav ul li,nav ol li{list-style:none}
button,input,select,textarea{vertical-align:middle}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}.lt-ie8 button,.lt-ie8 html input[type="button"],.lt-ie8 input[type="reset"],.lt-ie8 input[type="submit"]{overflow:visible}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box}.lt-ie8 input[type="checkbox"],.lt-ie8 input[type="radio"]{width:13px;height:13px}
button::-moz-focus-inner,input::-moz-focus-inner{border:0}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
.input,textarea,select{font-size:11px;line-height:17px;color:#7d7d7d;background:#fff;border:1px solid #7d7d7d;padding-left:5px;padding-right:5px;height:17px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.input:-moz-placeholder,textarea:-moz-placeholder,select:-moz-placeholder{color:#ccc;opacity:1;filter:alpha(opacity=1 * 100)}
.input::-moz-placeholder,textarea::-moz-placeholder,select::-moz-placeholder{color:#ccc;opacity:1;filter:alpha(opacity=1 * 100)}
.input:-ms-input-placeholder,textarea:-ms-input-placeholder,select:-ms-input-placeholder{color:#ccc;opacity:1;filter:alpha(opacity=1 * 100)}
.input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,select::-webkit-input-placeholder{color:#ccc;opacity:1;filter:alpha(opacity=1 * 100)}
textarea{line-height:120%;resize:vertical;overflow:auto}
input[disabled],textarea[disabled],select[disabled]{border-color:#999;color:#999}
select{padding-right:0}select option{padding:0 10px}
label{cursor:pointer}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important} a,a:visited{text-decoration:underline} a[href]:after{content:" (" attr(href) ")"} abbr[title]:after{content:" (" attr(title) ")"} a[href^="javascript:"]:after,a[href^="#"]:after{content:""} pre,blockquote,tr,img,h1,h2,h3,h4,h5{page-break-inside:avoid} thead{display:table-header-group} img{max-width:100% !important} [hidden]{display:none} @page {margin:.5cm}p,h1,h2,h3,h4,h5{orphans:3;widows:3} #awst-panel-wrapper,.no-print{display:none}}#structure{position:relative;width:990px;min-height:100%;margin-left:auto;margin-right:auto}
#content{padding-bottom:120px}
aside#left{float:left;width:230px}
aside#right{float:left;width:0}
main{float:left;width:760px;padding:0 0 0 30px}
footer{position:relative;clear:both;background:#fff;width:990px;margin-top:-90px;margin-left:auto;margin-right:auto;height:90px}
.wrapper{width:990px}
.breadcrumbs{margin:0 0 15px 0}.breadcrumbs *{display:inline-block;padding:0 5px 0 0}
.breadcrumbs span{color:#000}
.pagination{margin:0 0 15px 0}.pagination ul{overflow:hidden}.lt-ie8 .pagination ul{zoom:1}
.pagination ul>li{display:inline-block;list-style:none;padding:0 5px}.lt-ie8 .pagination ul>li{display:inline;zoom:1}
.pagination ul>li.page-selected a{font-weight:bold;color:#000;text-decoration:none}
form.form{width:750px;margin:0 0 10px 0}form.form label{float:left;width:202.5px;padding-top:3px;padding-right:22.5px}
form.form .form-pdb{float:left;width:525px}form.form .form-pdb label{float:none;width:100%;padding-right:0}
form.form .input,form.form select,form.form textarea{width:100%}.lt-ie8 form.form .input,.lt-ie8 form.form select,.lt-ie8 form.form textarea{width:515px}
form.form .form-error input,form.form .form-error select,form.form .form-error textarea{color:#950000}
form.form .form-success input,form.form .form-success select,form.form .form-success textarea{color:#5e9010}
form.form span.form-required,form.form .form-required span{font-weight:bold;color:#950000}
.form-size-three-quarter{width:75% !important}
.form-size-two-thirds{width:66% !important}
.form-size-half{width:48% !important}
.form-size-third{width:32% !important}
.form-size-quarter{width:24% !important}
.form-size-auto{width:auto !important}
.form-separator{display:inline-block;text-align:center;width:4%}
.form-hint{font-size:11px;line-height:11px;margin:20px 0}
.form-submit{text-align:center}
.form-error-message,.form-success-message{position:relative;background-repeat:no-repeat;background-position:5px 4px;font-size:11px;line-height:120%;margin-top:-1px;padding:5px 5px 5px 26px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.form-error-message{background-image:url(../images/stop-round.png);background-color:#ffcaca;border:1px solid #950000;color:#950000}
.form-success-message{background-image:url(../images/accept-green.png);background-color:#cdeac8;border:1px solid #5e9010;color:#5e9010}
ul.list,ol.list{margin-bottom:0}ul.list li,ol.list li{margin-bottom:5px}
ul.list li{list-style:none}
ul.list-hr li,ol.list-hr li{border-bottom:1px solid #7d7d7d;padding-bottom:10px;margin-bottom:20px}
.zero{border:0;border-spacing:0;border-collapse:collapse}.zero td{padding:0}
.bord{width:100%;border-top:1px solid #7d7d7d;border-left:1px solid #7d7d7d}.bord th,.bord td{padding:5px 10px;border-right:1px solid #7d7d7d;border-bottom:1px solid #7d7d7d}
.bord th{background:#7d7d7d;color:#fff}
.bord tr:nth-child(odd)>td{background:#ccc}
.news-date{margin-bottom:10px}
.galleries-foto{float:left;margin:10px 6px 0 6px}
.footer-counters{float:left;padding:0 90px 0 20px}.footer-counters img{float:left;margin-right:10px}
.nofloat:before,.text-container:before,.nofloat:after,.text-container:after{content:" ";display:table}
.nofloat:after,.text-container:after{clear:both}
.lt-ie8 .nofloat,.lt-ie8 .text-container{zoom:1}
.text-container{margin-bottom:10px}
.float-none{overflow:hidden}.lt-ie8 .float-none{zoom:1}
.retina-image{width:100%;height:auto}
.ib{border:1px solid #7d7d7d;padding:2px}
.nowrap{white-space:nowrap}
.v-top{vertical-align:top}
.z3 td{padding-top:3px;padding-bottom:3px}
.z7 td{padding-top:7px;padding-bottom:7px}
a.hova,.hova>a{text-decoration:none}a.hova:hover,.hova>a:hover{text-decoration:underline}
a.unhova,.unhova>a{text-decoration:underline}a.unhova:hover,.unhova>a:hover{text-decoration:none}
a.nova,.nova>a{text-decoration:none}
.nn{font-weight:normal}
b,strong,.bb{font-weight:bold}
.left{float:left;margin:0 15px 10px 0}
.right{float:right;margin:0 0 10px 15px}
td.left,td.right{float:none;margin:0}
td.left{text-align:left}
td.right{text-align:right}
.center{text-align:center}
.mrk1{background:url(../images/mrk1.gif) no-repeat 0 4px;padding-left:12px}
.hr1{background:#7d7d7d;font-size:1px;line-height:1px;height:1px;margin:10px 0 20px 0}
.l-main{float:left;width:49%;margin-right:2%}
.r-main{float:left;width:49%}
.m3{margin-bottom:3px}
.m5{margin-bottom:5px}
.m7{margin-bottom:7px}
.m10{margin-bottom:10px}
.m15{margin-bottom:15px}
.m20{margin-bottom:20px}
.m25{margin-bottom:25px}
.m30{margin-bottom:30px}
.m35{margin-bottom:35px}
.m40{margin-bottom:40px}
.m45{margin-bottom:45px}
.m50{margin-bottom:50px}
.p3{padding-bottom:3px}
.p5{padding-bottom:5px}
.p7{padding-bottom:7px}
.p10{padding-bottom:10px}
.p15{padding-bottom:15px}
.p20{padding-bottom:20px}
.p25{padding-bottom:25px}
.p30{padding-bottom:30px}
.p35{padding-bottom:35px}
.p40{padding-bottom:40px}
.p45{padding-bottom:45px}
.p50{padding-bottom:50px}
.s9{font-size:9px;line-height:120%}
.s10{font-size:10px;line-height:120%}
.s11{font-size:11px;line-height:120%}
.s12{font-size:12px;line-height:120%}
.s13{font-size:13px;line-height:120%}
.s14{font-size:14px;line-height:120%}
.s15{font-size:15px;line-height:120%}
.s16{font-size:16px;line-height:120%}
.s17{font-size:17px;line-height:120%}
.s18{font-size:18px;line-height:120%}
.s19{font-size:19px;line-height:120%}
.s20{font-size:20px;line-height:120%}
