// Built-in constructions

// Breadcrumbs
.breadcrumbs {
  overflow: hidden;
  margin: @breadcrumbs-margin;

  .lt-ie8 & {
    zoom: 1;
  }
  * {
    float: left;
    font: @breadcrumbs-element-font;
    color: @breadcrumbs-element-color;
    text-decoration: @breadcrumbs-element-text-decoration;
    padding: @breadcrumbs-element-padding;

    &:hover {
      text-decoration: @breadcrumbs-element-text-decoration-hover;
    }
  }
  span {
    font: @breadcrumbs-active-font;
    color: @breadcrumbs-active-color;
    text-decoration: none !important;
    padding: @breadcrumbs-active-padding;

    &.breadcrumbs-separator {
      font: @breadcrumbs-separator-font;
      color: @breadcrumbs-separator-color;
      padding: @breadcrumbs-separator-padding;
    }
  }
}

// Pagination
.pagination {
  margin: @pagination-margin;

  ul {
    overflow: hidden;
    margin: 0;

    .lt-ie8 & {
      zoom: 1;
    }
    > li {
      float: left;
      list-style: none;
      padding: @pagination-element-padding;
      margin: 0;

      * {
        display: block;
        font: @pagination-element-font;
        color: @pagination-element-color;
        text-decoration: @pagination-element-text-decoration;

        &:hover {
          text-decoration: @pagination-element-text-decoration-hover;
        }
      }
      &.page-selected {
        padding: @pagination-selected-padding;

        * {
          font: @pagination-selected-font;
          color: @pagination-selected-color;
        }
      }
      &.page-backward {
        padding: @pagination-backward-padding;

        * {
          font: @pagination-backward-font;
          color: @pagination-backward-color;

          & when not (@pagination-backward-background = none) {
            background: @pagination-backward-background;
            .size(@pagination-backward-width; @pagination-backward-height);
            .text-hide;

            &:hover {
              background-position: 0 -@pagination-backward-height;
            }
          }
        }
      }
      &.page-forward {
        padding: @pagination-forward-padding;

        * {
          font: @pagination-forward-font;
          color: @pagination-forward-color;

          & when not (@pagination-forward-background = none) {
            background: @pagination-forward-background;
            .size(@pagination-forward-width; @pagination-forward-height);
            .text-hide;

            &:hover {
              background-position: -@pagination-backward-width -@pagination-forward-height;
            }
          }
        }
      }
    }
  }
}

// Forms
.form { // apply to <form>
  background: @form-background;
  border: @form-border;
  .border-radius(@form-border-radius);
  width: @form-width;
  padding: @form-padding;
  margin: @form-margin;
  .box-shadow(@form-box-shadow);
  .box-sizing(border-box);

  .form-header {
    background: @form-header-background;
    border: @form-header-border;
    .border-radius(@form-header-border-radius);
    color: @form-header-color;
    text-align: @form-header-text-align;
    padding: @form-header-padding;

    &,
    & * {
      font: @form-header-font;
    }
  }
  .form-body {
    background: @form-body-background;
    border: @form-body-border;
    .border-radius(@form-body-border-radius);
    padding: @form-body-padding;
  }
  label {
    float: left;
    font: @form-title-font;
    color: @form-title-color;
    text-transform: @form-title-text-transform;
    width: (@form-width * 0.27);
    padding-top: 3px;
    padding-right: (@form-width * 0.03);
  }
  .form-field {
    float: left;
    width: (@form-width * 0.7);

    label {
      float: none;
      width: 100%;
      padding-right: 0;
    }
  }
  .input,
  select,
  textarea {
    width: 100%;

    .lt-ie8 & {
      width: ((@form-width * 0.7) - (@input-padding * 2));
    }
  }
  .form-error .input,
  .form-error select,
  .form-error textarea {
    background: @form-error-background @form-error-background-color;
    border-color: @form-error-border-color;
    padding: @form-statuses-padding;
    .placeholder(@form-error-color-text);

    &:focus {
      background-color: lighten(@form-error-background-color, 5%);
    }
  }
  .form-success .input,
  .form-success select,
  .form-success textarea {
    color: @form-success-color-text;
    background: @form-success-background @form-success-background-color;
    border-color: @form-success-border-color;
    padding: @form-statuses-padding;

    &:focus {
      background-color: lighten(@form-success-background-color, 5%);
    }
  }
  span.form-required,
  .form-required span {
    color: @form-required-color;
    font-weight: @form-required-font-weight;
  }
}
.form-size-three-quarter {
  width: 75% !important;
}
.form-size-two-thirds {
  width: 66% !important;
}
.form-size-half {
  width: 48% !important;
}
.form-size-third {
  width: 32% !important;
}
.form-size-quarter {
  width: 24% !important;
}
.form-size-auto {
  width: auto !important;
}
.form-separator {
  display: inline-block;
  text-align: center;
  width: 4%;
}
.form-hint {
  font-size: @form-hint-font-size;
  line-height: @line-height-base;
  padding: @form-hint-padding;
}
.form-submit {
  text-align: @form-submit-text-align;
  padding: @form-submit-padding;
}
.form-error-message,
.form-success-message {
  font-size: @form-messages-font-size;
  line-height: @line-height-base;
  position: relative;
  background-position: @form-messages-background-position !important;
  .border-radius(@form-messages-border-radius);
  padding: @form-messages-padding;
  margin: @form-messages-margin;
  .box-shadow(@form-messages-box-shadow);
  .box-sizing(border-box);
}
.form-error-message {
  color: @form-messages-error-color-text;
  background: @form-messages-error-background;
  border: @form-messages-error-border;
}
.form-success-message {
  color: @form-messages-success-color-text;
  background: @form-messages-success-background;
  border: @form-messages-success-border;
}

// Lists
ul.list,
ol.list {
  margin: @list-margin;

  li {
    margin: @list-element-margin;
  }
}
ul.list li {
  list-style: none;
}
ul.list-hr li,
ol.list-hr li {
  padding: @list-hr-element-padding;
  margin: @list-hr-element-margin;

  & when (@list-hr-element-divider-position = top) {
    border-top: @list-hr-element-divider;
  }
  & when (@list-hr-element-divider-position = bottom) {
    border-bottom: @list-hr-element-divider;
  }
}

// Tables
table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;

  th {
    text-align: @table-th-text-align;
  }
  td {
    padding: @table-cells-padding;
  }
}
.bordered {
  color: @table-bordered-text-color;
  border-top: @table-bordered-border;
  border-left: @table-bordered-border;

  th,
  td {
    border-right: @table-bordered-border;
    border-bottom: @table-bordered-border;
    padding: @table-bordered-cells-padding;
  }
  th {
    background: @table-bordered-th-background;
    color: @table-bordered-th-text-color;
    padding: @table-bordered-th-padding;
  }
}
.striped {
  tr:nth-child(odd) > td {
    background: @table-striped-highlight-color;
  }
}

// Popups
.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: @popup-zIndex;
  text-align: left;
  white-space: normal;
  .size(@popup-width; @popup-height);
  background: @popup-background;
  border: @popup-border;
  .border-radius(@popup-border-radius);
  .box-shadow(@popup-box-shadow);

  .popup-header,
  .popup-body,
  .popup-footer {
    width: 100%;
    .box-sizing(border-box);
  }
  .popup-header {
    background: @popup-header-background;
    border: @popup-header-border;
    .border-radius(@popup-header-border-radius);
    height: @popup-header-height;
    color: @popup-header-color;
    text-align: @popup-header-text-align;
    padding: @popup-header-padding;

    &,
    & * {
      font: @popup-header-font;
    }
  }
  .popup-body {
    overflow: hidden;
    overflow-y: auto;
    background: @popup-body-background;
    border: @popup-body-border;
    .border-radius(@popup-body-border-radius);
    height: @popup-body-height;
    color: @popup-body-color;
    text-align: @popup-body-text-align;
    padding: @popup-body-padding;

    &,
    & * {
      font: @popup-body-font;
    }
  }
  .popup-footer {
    background: @popup-footer-background;
    border: @popup-footer-border;
    .border-radius(@popup-footer-border-radius);
    height: @popup-footer-height;
    color: @popup-footer-color;
    text-align: @popup-footer-text-align;
    padding: @popup-footer-padding;

    &,
    & * {
      font: @popup-footer-font;
    }
  }
  .popup-close {
    display: block;
    position: absolute;
    top: @popup-close-position-top;
    right: @popup-close-position-right;
    background: @popup-close-background;
    .size(@popup-close-width; @popup-close-height);
  }
}