// Built-in constructions

// Breadcrumbs
.breadcrumbs {
  margin: @breadcrumbs-margin;

  * {
    display: inline-block;
    padding: @breadcrumbs-element-padding;
  }
  span {
    color: @breadcrumbs-active-color;
    font-weight: @breadcrumbs-active-font-weight;

    &.breadcrumbs-separator {
    }
  }
}

// Pagination
.pagination {
  margin: @pagination-margin;

  ul {
    overflow: hidden;
    margin: 0;

    .lt-ie8 & {
      zoom: 1;
    }
    > li {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: @pagination-element-padding;

      .lt-ie8 & {
        display: inline;
        zoom: 1;
      }
      &.page-selected a {
        font-weight: @pagination-selected-font-weight;
        color: @pagination-selected-color;
        text-decoration: @pagination-selected-text-decoration;
      }
      &.page-backward a {
      }
      &.page-forward a {
      }
    }
  }
}

// Forms
.form { // apply to <form>
  border: @form-border;
  .border-radius(@form-border-radius);
  width: @form-width;
  margin: @form-margin;
  padding: @form-padding;
  .box-sizing(border-box);

  & when not (@form-background = none) {
    background: @form-background;
  }

  .form-header {
    padding: @form-header-padding;

    & when not (@form-header-background = none) {
      background: @form-header-background;
    }
  }
  .form-body {
    padding: @form-body-padding;

    & when not (@form-body-background = none) {
      background: @form-body-background;
    }
  }
  label {
    float: left;
    width: (@form-width * 0.27);
    padding-top: 3px;
    padding-right: (@form-width * 0.03);
  }
  .form-field {
    float: left;
    width: (@form-width * 0.7);

    label {
      float: none;
      width: 100%;
      padding-right: 0;
    }
  }
  .input,
  select,
  textarea {
    width: 100%;

    .lt-ie8 & {
      width: ((@form-width * 0.7) - (@input-padding * 2));
    }
  }
  .form-error .input,
  .form-error select,
  .form-error textarea {
    background: @form-error-background @form-error-background-color;
    border-color: @form-error-border-color;
    padding: @form-statuses-padding;
    .placeholder(@form-error-color-text);

    &:focus {
      background-color: lighten(@form-error-background-color, 5%);
    }
  }
  .form-success .input,
  .form-success select,
  .form-success textarea {
    color: @form-success-color-text;
    background: @form-success-background @form-success-background-color;
    border-color: @form-success-border-color;
    padding: @form-statuses-padding;

    &:focus {
      background-color: lighten(@form-success-background-color, 5%);
    }
  }
  span.form-required,
  .form-required span {
    color: @form-required-color;
    font-weight: @form-required-font-weight;
  }
}
.form-size-three-quarter {
  width: 75% !important;
}
.form-size-two-thirds {
  width: 66% !important;
}
.form-size-half {
  width: 48% !important;
}
.form-size-third {
  width: 32% !important;
}
.form-size-quarter {
  width: 24% !important;
}
.form-size-auto {
  width: auto !important;
}
.form-separator {
  display: inline-block;
  text-align: center;
  width: 4%;
}
.form-hint {
  font-size: @form-hint-font-size;
  line-height: @line-height-base;
  padding: @form-hint-padding;
}
.form-submit {
  text-align: @form-submit-text-align;
  padding: @form-submit-padding;
}
.form-error-message,
.form-success-message {
  font-size: @form-messages-font-size;
  line-height: @line-height-base;
  position: relative;
  margin: @form-messages-margin;
  padding: @form-messages-padding;
  .box-sizing(border-box);
}
.form-error-message {
  color: @form-messages-error-color-text;
  background: @form-messages-error-background;
  border-color: @form-error-border-color;
}
.form-success-message {
  color: @form-messages-success-color-text;
  background: @form-messages-success-background;
  border-color: @form-success-border-color;
}

// Lists
ul.list,
ol.list {
  margin: @list-margin;

  li {
    margin: @list-element-margin;
  }
}
ul.list li {
  list-style: none;
}
ul.list-hr li,
ol.list-hr li {
  border-bottom: @list-hr-element-divider;
  padding: @list-hr-element-padding;
  margin: @list-hr-element-margin;
}

// Tables
table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;

  th {
    text-align: @table-th-text-align;
  }
  td {
    padding: @table-cells-padding;
  }
}
.bordered {
  width: 100%;
  color: @table-bordered-text-color;
  border-top: @table-bordered-border;
  border-left: @table-bordered-border;

  th,
  td {
    border-right: @table-bordered-border;
    border-bottom: @table-bordered-border;
    padding: @table-bordered-cells-padding;
  }
  th {
    background: @table-bordered-th-background;
    color: @table-bordered-th-text-color;
    padding: @table-bordered-th-padding;
  }
}
.striped {
  tr:nth-child(odd) > td {
    background: @table-striped-highlight-color;
  }
}