// Built-in constructions

// Breadcrumbs
.breadcrumbs {
  overflow: hidden;
  margin: @breadcrumbs-margin;

  a,
  span {
    float: left;
    padding: @breadcrumbs-element-padding;
    font: @breadcrumbs-element-font;
    color: @breadcrumbs-element-color;
    text-decoration: @breadcrumbs-element-text-decoration;
  }
  a:hover {
    text-decoration: @breadcrumbs-element-text-decoration-hover;
  }
  span {
    padding: @breadcrumbs-active-padding;
    font: @breadcrumbs-active-font;
    color: @breadcrumbs-active-color;
    text-decoration: none !important;

    &.breadcrumbs-separator {
      padding: @breadcrumbs-separator-padding;
      font: @breadcrumbs-separator-font;
      color: @breadcrumbs-separator-color;
    }
  }
}

// Pagination
.pagination {
  margin: @pagination-margin;

  ul {
    overflow: hidden;
    margin: 0;

    > li {
      float: left;
      list-style: none;
      padding: @pagination-element-padding;
      margin: 0;

      * {
        display: block;
        font: @pagination-element-font;
        color: @pagination-element-color;
        text-decoration: @pagination-element-text-decoration;

        &:hover {
          text-decoration: @pagination-element-text-decoration-hover;
        }
      }
      &.page-selected {
        padding: @pagination-selected-padding;

        * {
          font: @pagination-selected-font;
          color: @pagination-selected-color;

          & when not (@pagination-selected-text-decoration = @pagination-element-text-decoration) {
            text-decoration: @pagination-selected-text-decoration !important;
          }
        }
      }
      &.page-backward,
      &.page-forward {
        padding: @pagination-navigation-padding;

        * {
          font: @pagination-navigation-font;
          color: @pagination-navigation-color;

          & when not (@pagination-navigation-text-decoration = @pagination-element-text-decoration) {
            text-decoration: @pagination-navigation-text-decoration !important;
          }
          & when not (@pagination-navigation-image = none) {
            background-image: @pagination-navigation-image;
            background-repeat: no-repeat;
            .size(@pagination-navigation-width; @pagination-navigation-height);
            .text-hide;
          }
        }
      }
      &.page-backward when not (@pagination-navigation-image = none) {
        * {
          background-position: 0 0;

          &:hover {
            background-position: 0 -@pagination-navigation-height;
          }
        }
      }
      &.page-forward when not (@pagination-navigation-image = none) {
        * {
          background-position: -@pagination-navigation-width 0;

          &:hover {
            background-position: -@pagination-navigation-width -@pagination-navigation-height;
          }
        }
      }
    }
  }
}

// Forms
.form { // apply to <form>
  .box-sizing(border-box);
  background: @form-background;
  border: @form-border;
  .border-radius(@form-border-radius);
  width: @form-width;
  .box-shadow(@form-box-shadow);
  padding: @form-padding;
  margin: @form-margin;

  .form-header {
    display: @form-header-display;
    background: @form-header-background;
    border: @form-header-border;
    .border-radius(@form-header-border-radius);
    padding: @form-header-padding;
    font: @form-header-font;
    color: @form-header-color;
    text-align: @form-header-text-align;
  }
  .form-body {
    background: @form-body-background;
    border: @form-body-border;
    .border-radius(@form-body-border-radius);
    padding: @form-body-padding;
  }
  .form-title {
    float: left;
    width: @form-title-width;
    padding: @form-title-padding;
    font: @form-title-font;
    color: @form-title-color;
    text-transform: @form-title-text-transform;
    text-align: @form-title-text-align;
  }
  .form-field {
    float: left;
    width: @form-field-width;
    padding: @form-field-padding;
  }
  .input,
  select,
  textarea {
    width: 100%;
  }
  .form-error .input,
  .form-error select,
  .form-error textarea {
    background: @form-error-background @form-error-background-color;
    border-color: @form-error-border-color;
    padding: @form-statuses-padding;
    color: @form-error-color-text;
    .placeholder(@form-error-color-text);

    &:focus {
      background-color: lighten(@form-error-background-color, 5%);
    }
  }
  .form-success .input,
  .form-success select,
  .form-success textarea {
    background: @form-success-background @form-success-background-color;
    border-color: @form-success-border-color;
    padding: @form-statuses-padding;
    color: @form-success-color-text;

    &:focus {
      background-color: lighten(@form-success-background-color, 5%);
    }
  }
  span.form-required,
  .form-required span {
    color: @form-required-color;
    font-weight: @form-required-font-weight;
  }
}
.form-size-three-quarter {
  width: 75% !important;
}
.form-size-two-thirds {
  width: 66% !important;
}
.form-size-half {
  width: 48% !important;
}
.form-size-third {
  width: 32% !important;
}
.form-size-quarter {
  width: 24% !important;
}
.form-size-auto {
  width: auto !important;
}
.form-separator {
  display: inline-block;
  width: 4%;
  text-align: center;
}
.form-hint {
  padding: @form-hint-padding;
  font: @form-hint-font !important;
}
.form-submit {
  padding: @form-submit-padding;
  text-align: @form-submit-text-align;
}
.form-error-message,
.form-success-message {
  .box-sizing(border-box);
  position: relative;
  background-position: @form-messages-background-position !important;
  .border-radius(@form-messages-border-radius);
  .box-shadow(@form-messages-box-shadow);
  padding: @form-messages-padding;
  margin: @form-messages-margin;
  font: @form-messages-font;
}
.form-error-message {
  background: @form-messages-error-background;
  border: @form-messages-error-border;
  color: @form-messages-error-color-text;
}
.form-success-message {
  background: @form-messages-success-background;
  border: @form-messages-success-border;
  color: @form-messages-success-color-text;
}

// Lists
.list,
.list-hr { // apply to <ul> or <ol>
  margin: @list-margin;

  li {
    margin: @list-element-margin;

    ul& {
      list-style: none;
    }
    &.list-element-last {
      .padding-bottom(0);
      .margin-bottom(0);
    }
  }
}
.list-hr {
  li {
    padding: @list-hr-element-padding;
    margin: @list-hr-element-margin;

    & when (@list-hr-element-divider-position = top) {
      border-top: @list-hr-element-divider;
    }
    & when (@list-hr-element-divider-position = bottom) {
      border-bottom: @list-hr-element-divider;
    }

    &.list-element-last {
      border: 0;
    }
  }
}

// Tables
table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;

  th {
    text-align: @table-th-text-align;
  }
  th,
  td {
    padding: @table-cells-padding;
  }
}
.bordered {
  border-top: @table-bordered-border;
  border-left: @table-bordered-border;
  color: @table-bordered-text-color;

  th,
  td {
    border-right: @table-bordered-border;
    border-bottom: @table-bordered-border;
    padding: @table-bordered-cells-padding;
  }
  th {
    background: @table-bordered-th-background;
    padding: @table-bordered-th-padding;
    color: @table-bordered-th-text-color;
  }
}
.striped {
  tr:nth-child(odd) > td {
    background: @table-striped-highlight-color;
  }
}

// Popups
.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: @popup-zIndex;
  .size(@popup-width; @popup-height);
  background: @popup-background;
  border: @popup-border;
  .border-radius(@popup-border-radius);
  .box-shadow(@popup-box-shadow);
  text-align: left;
  white-space: normal;

  .popup-header,
  .popup-body,
  .popup-footer {
    .box-sizing(border-box);
    width: 100%;
  }
  .popup-header {
    background: @popup-header-background;
    border: @popup-header-border;
    .border-radius(@popup-header-border-radius);
    height: @popup-header-height;
    padding: @popup-header-padding;
    font: @popup-header-font;
    color: @popup-header-color;
    text-align: @popup-header-text-align;
  }
  .popup-body {
    overflow: hidden;
    overflow-y: auto;
    background: @popup-body-background;
    border: @popup-body-border;
    .border-radius(@popup-body-border-radius);
    height: @popup-body-height;
    padding: @popup-body-padding;
    font: @popup-body-font;
    color: @popup-body-color;
    text-align: @popup-body-text-align;
  }
  .popup-footer {
    background: @popup-footer-background;
    border: @popup-footer-border;
    .border-radius(@popup-footer-border-radius);
    height: @popup-footer-height;
    padding: @popup-footer-padding;
    font: @popup-footer-font;
    color: @popup-footer-color;
    text-align: @popup-footer-text-align;
  }
  .popup-close {
    display: inline-block;
    position: @popup-close-position;
    top: @popup-close-position-top;
    right: @popup-close-position-right;
    z-index: 1;
    background: @popup-close-background;
    .size(@popup-close-width; @popup-close-height);
    padding: @popup-close-padding;
    font: @popup-close-font;
    color: @popup-close-color;
    text-decoration: @popup-close-text-decoration;
    vertical-align: top;
  }
}