// CSS reset by defaults
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

  & when (@footer-to-bottom) {
    height: 100%;
  }
}
body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background: @body-background;
  min-width: @min-width-base;

  & when (@footer-to-bottom) {
    height: 100%;
  }
}
* {
  font-family: @font-family-base;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  vertical-align: middle;

  .lt-ie8 & {
    display: inline;
    zoom: 1;
  }
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}

a {
  color: @link-color;
  text-decoration: @link-text-decoration;

  &:hover when not (@link-color-hover = @link-color) {
    color: @link-color-hover;

    & when not (@link-text-decoration-hover = @link-text-decoration) {
      text-decoration: @link-text-decoration-hover;
    }
  }
  &:visited when not (@link-color-visited = @link-color) {
    color: @link-color-visited;

    & when not (@link-text-decoration-visited = @link-text-decoration) {
      text-decoration: @link-text-decoration-visited;
    }
  }
}
a:focus,
input:focus {
  outline: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
{
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
h1,
.h1 {
  font-size: @h1-font-size;
  line-height: @h1-line-height;
  color: @h1-color-text;
  font-weight: @h1-font-bold;
  margin: @h1-margin;

  a {
    color: @h1-color-text;
  }
}
h2,
.h2 {
  font-size: @h2-font-size;
  line-height: @h2-line-height;
  color: @h2-color-text;
  font-weight: @h2-font-bold;
  margin: @h2-margin;

  a {
    color: @h2-color-text;
  }
}
h3,
.h3 {
  font-size: @h3-font-size;
  line-height: @h3-line-height;
  color: @h3-color-text;
  font-weight: @h3-font-bold;
  margin: @h3-margin;

  a {
    color: @h3-color-text;
  }
}
h4,
.h4 {
  font-size: @h4-font-size;
  line-height: @h4-line-height;
  color: @h4-color-text;
  font-weight: @h4-font-bold;
  margin: @h4-margin;

  a {
    color: @h4-color-text;
  }
}
h5,
.h5 {
  font-size: @h5-font-size;
  line-height: @h5-line-height;
  color: @h5-color-text;
  font-weight: @h5-font-bold;
  margin: @h5-margin;

  a {
    color: @h5-color-text;
  }
}
h6,
.h6 {
  font-size: @h6-font-size;
  line-height: @h6-line-height;
  color: @h6-color-text;
  font-weight: @h6-font-bold;
  margin: @h6-margin;

  a {
    color: @h6-color-text;
  }
}

p {
  line-height: @paragraph-line-height;
  padding: @paragraph-padding;
}
hr {
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  height: 0;
}
pre,
code,
kbd,
samp {
  font-family: @font-family-monospace;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 9px;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
legend {
  border: 0;
  white-space: normal;

  .lt-ie8 & {
    margin-left: -7px;
  }
}

ul,
ul.default {
  margin: 0 0 10px 0;

  li {
    margin: 0 0 10px 0;
    list-style-position: inside;
    list-style-type: square;
  }
}
ul.default li {
  margin: 0 0 5px 20px;
  list-style-position: outside;
  list-style-type: disc;
}
ol {
  margin: 5px 0 20px 25px;

  li {
    list-style-position: outside;
  }
}
nav ul,
nav ol {
  margin: 0;

  li {
    list-style: none;
    margin: 0;
  }
}

button,
input,
select,
textarea {
  vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;

  .lt-ie8 & {
    overflow: visible;
  }
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;

  .lt-ie8 & {
    width: 13px;
    height: 13px;
  }
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  .box-sizing(border-box);
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.input,
textarea,
select {
  font-size: @input-font-size;
  line-height: @input-height;
  color: @input-color-text;
  text-shadow: @input-text-shadow;
  background: @input-background;
  border: @input-border;
  .border-radius(@input-border-radius);
  padding-left: @input-padding;
  padding-right: @input-padding;
  height: @input-height;
  .box-shadow(@input-box-shadow);
  .box-sizing(border-box);
  .placeholder;
}
textarea {
  line-height: @line-height-base;
  .resizable(vertical);
}
.input:focus,
textarea:focus,
select:focus {
  color: @input-color-focus;
  background-color: lighten(@input-background, 5%);
  border-color: @input-border-color-focus;
}
.input[disabled],
textarea[disabled],
select[disabled] {
  color: @input-color-disabled;
  background-color: lighten(@input-background, 50%);
  border-color: @input-border-color-disabled;
}
select {
  padding-right: 0;

  option {
    padding-right: @input-padding;
  }
}
label {
  cursor: pointer;
}