// Site stylesheets

// Imports

// Local variables

// Local mixins

// Customized global styles


// Header
header {
}

// Main navigation
nav {
  li {
    list-style: none;
  }
}

// Blocks
.articles-list {
  .list-hr;

  .articles-title {
    .h4;
  }
}

.contacts-map {
  .pull-right;
  .square(400);

  > * {
    display: block;
    .box-sizing(border-box);
    .image-bordered;

    &,
    & img {
      .square(100%) !important;
    }
  }
}
.contacts-title {
  .margin-bottom(5);
  .font-size(@font-size-base; @paragraph-line-height);
  .bold;
}
.contacts-value {
  .set-value(padding-left; 10);
  .font-size(@font-size-base);

  &.contacts-several-values {
    > * {
      &:not(p) {
        .set-value(padding; @paragraph-padding);
      }
      &:not(:last-child) {
        .set-value(padding-bottom; 5);
      }
    }
  }
}

.galleries-list {
  .list-hr;

  .galleries-title-container {
    .clearfix;

    .galleries-title {
      .h4;
    }
    .galleries-all {
      .pull-right;
    }
  }
}
.galleries-foto {
  .clearfix;
  .set-value(margin; 0 0 -8 -8);

  .galleries-foto-item {
    float: left;
    .set-value(margin; 0 0 8 8);

    img {
      .image-bordered;
    }
  }
}

.info-list {
  .list-hr;
  border-top: 1px solid @hr-color-base;
  .set-value(padding-top; 20);

  .info-title {
    .h4;
  }
  .info-announce {
    .text-container;
  }
}

.news-list {
  .list-hr;

  .news-title {
    .h4;
  }
  .news-announce {
    .text-container;
  }
}
.news-date {
  .margin-bottom(10);
  color: @black-50;
}

.resources-form-title {
  .h3;
  border-top: 1px solid @hr-color-base;
  .set-value(padding-top; 20);
}
.resources-list {
  .list-hr;

  .resources-title {
    .margin-bottom(5);
    .bold;
  }
  .resources-announce {
    .set-value(margin-bottom; 5);
    line-height: @paragraph-line-height;

    p {
      .padding-bottom(5);
      line-height: inherit;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .resources-link {
    a {
      .set-value(padding-right; 10);
    }
  }
}

.search-results-list {
  .set-value(margin; 0 0 0 25);
  .font-size(@font-size-base);

  .search-results-title {
    .margin-bottom(5);
    .bold;
  }
  .search-results-announce {
    .set-value(margin-bottom; 5);
    line-height: @paragraph-line-height;

    p {
      .padding-bottom(5);
      line-height: inherit;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .search-results-link {
    .set-value(margin; @paragraph-padding);
  }
}

.sitemap-item {
  .margin-bottom(10);
  .font-size(@font-size-base);
}
.sitemap-title {
  .h4;
}
.sitemap-list {
  .primary-list;
}

// Footer
footer {
  .footer-counters {
    float: left;
    .set-value(padding; 0 90 0 20);

    img {
      float: left;
      .set-value(margin-right; 10);
    }
  }
  .footer-copyright {
    a {
      
    }
  }
}


// Tables

// Forms

// Popups and modal windows
.modal {
  .popup;
  z-index: @modal-zIndex;
  width: @modal-width;
}

// Colors
.black,
.black a {
  color: @black;
}
.white,
.white a {
  color: @white;
}
.red,
.red a {
  color: @red;
}
.green,
.green a {
  color: @green;
}

// Markers
.marker1 {
  .marker('../images/marker1.gif'; 0 0 0 12; 0 4px);
}

// Horizontal lines
.hr1 {
  .hr(@hr-color-base; 20 0);
}