// Fonts
@font-family-base: Tahoma, Verdana, Arial, Helvetica, sans-serif;
@font-family-monospace: Courier, 'Courier New', monospace;
@font-size-base: 11px;
@line-height-base: 120%;

// Colors
@body-background: #FFFFFF;
@text-color: @black;
@link-color: #02A3AA;
@link-color-hover: @link-color;
@link-color-visited: @link-color;

@black-10: darken(#FFFFFF, 10%);
@black-20: darken(#FFFFFF, 20%);
@black-30: darken(#FFFFFF, 30%);
@black-40: darken(#FFFFFF, 40%);
@black-50: darken(#FFFFFF, 50%);
@black-60: darken(#FFFFFF, 60%);
@black-70: darken(#FFFFFF, 70%);
@black-80: darken(#FFFFFF, 80%);
@black-90: darken(#FFFFFF, 90%);
@black: #000000;

@red: #950000;
@green: #5E9010;

// Dimensions
@width-base: 990px;
@width-wrapper: @width-base;
@width-sidebar-left: 230px;
@width-sidebar-right: 0;
@main-padding: 0 0 0 30px;
@footer-background-color: @body-background;
@footer-height: 90px;

// Headings
@h1-color-text: @text-color;
@h1-font-size: 16px;
@h1-font-bold: bold;
@h1-margin: 0 0 15px 0;

@h2-color-text: @text-color;
@h2-font-size: 15px;
@h2-font-bold: bold;
@h2-margin: 0 0 10px 0;

@h3-color-text: @text-color;
@h3-font-size: 14px;
@h3-font-bold: bold;
@h3-margin: 0 0 15px 0;

@h4-color-text: @text-color;
@h4-font-size: 13px;
@h4-font-bold: bold;
@h4-margin: 0 0 10px 0;

@h5-color-text: @text-color;
@h5-font-size: 12px;
@h5-font-bold: bold;
@h5-margin: 0 0 10px 0;

@h6-color-text: @text-color;
@h6-font-size: 11px;
@h6-font-bold: bold;
@h6-margin: 0 0 10px 0;

// Paragraphs
@paragraph-line-height: 130%;

// Tables
@table-th-text-align: left;
@table-padding: 0;

@table-bordered-text-color: @text-color;
@table-bordered-padding: 5px 10px;
@table-bordered-th-padding: @table-bordered-padding;
@table-bordered-th-background-color: #7D7D7D;
@table-bordered-th-text-color: #FFFFFF;
@table-bordered-border: 1px solid @table-bordered-th-background-color;

@table-striped-highlight-color: #CCCCCC;

// Images
@image-bordered-border: 1px solid #7D7D7D;
@image-bordered-padding: 2px;

// Forms
@form-width: 750px;
@form-margin: 0 0 10px 0;
@form-hint-font-size: @font-size-base;
@form-hint-margin: 20px 0;
@form-submit-text-align: center;
@form-required-font-bold: bold;
@form-message-font-size: @font-size-base;
@form-error-color: @red;
@form-success-color: @green;

// Inputs
@input-color-text: #7D7D7D;
@input-color-placeholder: #CCCCCC;
@input-color-disabled: #999999;
@input-background: #FFFFFF;
@input-border: 1px solid #7D7D7D;
@input-height: 17px;
@input-padding: 5px;

// Breadcrumbs
@breadcrumbs-margin: 0 0 15px 0;
@breadcrumbs-element-padding: 0 5px 0 0;
@breadcrumbs-active-color: @text-color;
@breadcrumbs-active-font-weight: normal;

// Pagination
@pagination-margin: 0 0 15px 0;
@pagination-element-padding: 0 5px;
@pagination-selected-color: @text-color;
@pagination-selected-font-weight: bold;
@pagination-selected-text-decoration: none;

// Lists
@list-margin: 0;
@list-element-margin: 0 0 5px 0;
@list-hr-element-divider: 1px solid @hr1-color;
@list-hr-element-padding: 0 0 10px 0;
@list-hr-element-margin: 0 0 20px 0;

// Horizontal lines
@hr1-color: #7D7D7D;