<!doctype html>
<html class="no-js" lang="ru">
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="css/styles.css" />
<script data-pack="None">
//<![CDATA[
window.isTouchscreen = false;
if ('ontouchend' in document || !!navigator.msMaxTouchPoints || !!navigator.maxTouchPoints) {
  window.isTouchscreen = true;
}

window.$queue = [];
window.$ = function (f) {
  $queue.push(f);
};
//]]>
</script>
</head>

<body>

<div id="structure">
  <header>
    <div class="wrapper">
    </div>
  </header>

  <nav>
    <div class="wrapper">
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
  </nav>

  <div id="content">
    <div class="wrapper">
      <aside id="left">
      </aside>

      <aside id="right">
      </aside>

      <main>

        <div class="breadcrumbs">
          <a href="/">Главная</a>
          <span class="breadcrumbs-separator">/</span>
          <a href="articles-list.htm">Статьи</a>
          <span class="breadcrumbs-separator">/</span>
          <span>Зона комфорта</span>
        </div>

        <section class="articles-page">
          <h1>Зона комфорта</h1>

          <div class="nofloat">
            <p>Автор достаточно много путешествует, посетил более пяти сотен различных мест более чем в&nbsp;120&nbsp;странах. Во&nbsp;время этих поездок нельзя было не&nbsp;заметить разницу во&nbsp;внешнем виде городов. И&nbsp;нельзя было не&nbsp;заметить, что в&nbsp;одних странах хорошо, а&nbsp;в&nbsp;других плохо. Хорошо в&nbsp;Европе. Плохо в&nbsp;Африке. Хорошо в&nbsp;Азии. Плохо в&nbsp;России. И&nbsp;нельзя было не&nbsp;сделать вывод о&nbsp;том, что на&nbsp;разницу во&nbsp;внешнем виде городов влияет разница в&nbsp;психологии людей.</p>
            <p>Нет желания дома у&nbsp;себя держать русскую электрическую или газовую плиту. Она просто плохая, хотя, возможно, законы физики у&nbsp;нее соблюдаются хорошо, и&nbsp;конвекция работает, и&nbsp;с&nbsp;инженерной точки зрения науки там все продумано. То&nbsp;же самое верно по&nbsp;отношению к&nbsp;русским автомобилям, домам, отелям, любому сервису&nbsp;&mdash; список бесконечен.</p>
            <h2>В&nbsp;других странах лучше машины, лучше журналы, телевизор лучше и&nbsp;так далее.</h2>
            <p>Какую вещь ни&nbsp;возьми, хочется европейскую или японскую, но&nbsp;совершенно не&nbsp;хочется русскую.</p>
            <p>У&nbsp;каждого человека существует зона комфорта, независимо от&nbsp;того, где он&nbsp;находится. Даже у&nbsp;бомжа есть такая зона, она ограничивается его коробкой из-под холодильника. Автор полагает, что на&nbsp;разницу в&nbsp;уровне жизни зона комфорта граждан влияет гораздо больше, чем богатство страны.</p>
            <p>У&nbsp;человека, который живет в&nbsp;Европе, зона комфорта распространяется дальше, чем его квартира: она захватывает его лестничную площадку, его дворик, его улицу, его квартал. Его центр города. (Окраины европейских городов при этом так&nbsp;же ужасны, как и&nbsp;наши: панельное жилье везде довольно жуткое и&nbsp;французский шахтерский городок мало чем отличается от&nbsp;донецких унылых окраин.)</p>
            <p>В&nbsp;России традиционно зона комфорта заканчивается у&nbsp;человека его входной дверью. Обивка, которую он&nbsp;сделал себе на&nbsp;дверь, еще будет входить в&nbsp;зону комфорта, а&nbsp;вот сантиметр от&nbsp;порога уже нет. Человеку все равно, что там: страшная масляная краска, велосипед или какой-то пятидесятого года сундук, выставленный соседями.</p>
            <p>Очень редки случаи, когда кто-нибудь делает ремонт у&nbsp;себя в&nbsp;подъезде. Человек идет в&nbsp;соседние квартиры, а&nbsp;там говорят&nbsp;&mdash; денег нет, не&nbsp;дадим. Ну, может быть, найдется второй олигарх, который скинется. И&nbsp;вот два человека (это в&nbsp;лучшем случае) ремонтируют подъезд, а&nbsp;остальные их&nbsp;ненавидят и&nbsp;стараются как-то поднасрать: нарисовать там что-нибудь или разбить. Или не&nbsp;закрыть входную дверь, чтобы бомжи пришли. Наши люди не&nbsp;готовы принимать расширение зоны комфорта.</p>
          </div>

          <div class="hr1">&nbsp;</div>

          <ul class="default">
            <li><a href="articles-list.htm">Все статьи</a></li>
          </ul>
        </section>

      </main>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="footer-counters">
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
    </div>
    <div class="footer-copyright">
      &copy;&nbsp;2015. My company.
    </div>
  </div>
</footer>

<script src="http://js.awst.ru/jquery.js"></script>
<script src="js/config.js"></script>
<script src="js/main.js"></script>
<script data-pack="None">
//<![CDATA[
$(function () {
  $('html').removeClass('no-js');

  if (isTouchscreen) {
    $('html').addClass('isTouchscreen');
  }
});
$.each($queue, function (index, callback) {
  $(callback);
});
delete $queue;
//]]>
</script>

</body>
</html>