<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width" />
<script src="js/jquery.js"></script>
<link rel="stylesheet" href="css/styles.css" />
<!--[if lt IE 9]>
  <script src="js/html5shiv-printshiv.js"></script>
  <script src="js/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
  </header>

  <nav>
    <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    </ul>
  </nav>

  <div id="content" class="nofloat">
    <aside id="left">
    </aside>

    <main>

      <div class="breadcrumbs">
        <a href="/">Главная</a>
        <span class="breadcrumbs-separator">/</span>
        <a href="articles-list.htm">Статьи</a>
        <span class="breadcrumbs-separator">/</span>
        <span>Зона комфорта</span>
      </div>

      <section class="articles">
        <h1>Зона комфорта</h1>

        <div class="nofloat">
          <p>Автор достаточно много путешествует, посетил более пяти сотен различных мест более чем в 120 странах. Во время этих поездок нельзя было не заметить разницу во внешнем виде городов. И нельзя было не заметить, что в одних странах хорошо, а в других плохо. Хорошо в Европе. Плохо в Африке. Хорошо в Азии. Плохо в России. И нельзя было не сделать вывод о том, что на разницу во внешнем виде городов влияет разница в психологии людей.</p>
          <p>Нет желания дома у себя держать русскую электрическую или газовую плиту. Она просто плохая, хотя, возможно, законы физики у нее соблюдаются хорошо, и конвекция работает, и с инженерной точки зрения науки там все продумано. То же самое верно по отношению к русским автомобилям, домам, отелям, любому сервису — список бесконечен.</p>
          <h2>В других странах лучше машины, лучше журналы, телевизор лучше и так далее.</h2>
          <p>Какую вещь ни возьми, хочется европейскую или японскую, но совершенно не хочется русскую.</p>
          <p>У каждого человека существует зона комфорта, независимо от того, где он находится. Даже у бомжа есть такая зона, она ограничивается его коробкой из-под холодильника. Автор полагает, что на разницу в уровне жизни зона комфорта граждан влияет гораздо больше, чем богатство страны.</p>
          <p>У человека, который живет в Европе, зона комфорта распространяется дальше, чем его квартира: она захватывает его лестничную площадку, его дворик, его улицу, его квартал. Его центр города. (Окраины европейских городов при этом так же ужасны, как и наши: панельное жилье везде довольно жуткое и французский шахтерский городок мало чем отличается от донецких унылых окраин.)</p>
          <p>В России традиционно зона комфорта заканчивается у человека его входной дверью. Обивка, которую он сделал себе на дверь, еще будет входить в зону комфорта, а вот сантиметр от порога уже нет. Человеку все равно, что там: страшная масляная краска, велосипед или какой-то пятидесятого года сундук, выставленный соседями.</p>
          <p>Очень редки случаи, когда кто-нибудь делает ремонт у себя в подъезде. Человек идет в соседние квартиры, а там говорят — денег нет, не дадим. Ну, может быть, найдется второй олигарх, который скинется. И вот два человека (это в лучшем случае) ремонтируют подъезд, а остальные их ненавидят и стараются как-то поднасрать: нарисовать там что-нибудь или разбить. Или не закрыть входную дверь, чтобы бомжи пришли. Наши люди не готовы принимать расширение зоны комфорта.</p>
        </div>

        <div class="hr1">&nbsp;</div>

        <ul class="default">
        <li><a href="articles-list.htm">Все статьи</a></li>
        </ul>
      </section>

    </main>
  </div>
</div>

<footer>
  <div class="counters">
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
  </div>
  <div class="copyright">
    <div class="m5">&copy; 2013</div>
    <a href="http://artwist.ru/">Web-дизайн, создание сайта, продвижение сайта</a> - <b><a href="http://artwist.ru/">ArTwist</a></b>
  </div>
</footer>

</body>
</html>