<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="http://js.awst.ru/jquery.js"></script>
<link rel="stylesheet" href="css/styles.css" />
<!--[if lt IE 9]>
  <script src="http://js.awst.ru/html5shiv-printshiv.js"></script>
  <script src="http://js.awst.ru/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
    <div class="wrapper">
    </div>
  </header>

  <nav>
    <div class="wrapper">
      <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      </ul>
    </div>
  </nav>

  <div id="content">
    <div class="wrapper">
      <aside id="left">
      </aside>

      <aside id="right">
      </aside>

      <main>

        <div class="breadcrumbs">
          <a href="/">Главная</a>
          <span class="breadcrumbs-separator">/</span>
          <span>Статьи</span>
        </div>

        <section class="articles">
          <h1>Статьи</h1>

          <div class="pagination">
            <ul>
            <li class="page-backward"><a href="">&laquo;</a></li>
            <li class="page-selected"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li class="page-forward"><a href="">&raquo;</a></li>
            </ul>
          </div>

          <ul class="articles-list list">
          <li class="nofloat">
            <div class="articles-title"><a href="articles-item.htm">Принципы</a></div>
            <p>За все время работы с рекламой, дизайном, организацией любых творческих процессов, автор вывел для себя важное правило: можно делать что угодно и как угодно. Главное, чтобы в основе работы лежал принцип.</p>
            <p>Принцип может быть любым (много разных принципов — тоже хорошо). Например, всегда выкидывать первый показанный эскиз. Или писать все заголовки без прилагательных. Или оканчивать все названия товаров на «-ус». Или красить боковинку оранжевым. Или что угодно еще.</p>
          </li>
          <li class="nofloat">
            <div class="articles-title"><a href="articles-item.htm">Польза ограничений</a></div>
            <p>Без ограничений не бывает творчества. Самые лучшие образцы дизайна появлялись в результате самых жестких требований. Модификатор «самое лучшее» может применяться к плакату размером 60?90 в две краски на газетной бумаге, набранный шрифтом Баскервиль 72-го кегля с вот этим логотипом, посвященный концерту группы такой-то, который пройдет через три дня, поэтому в печать все должно уйти через четыре часа. Вот это ограничения, вот это настоящее поле для творчества. Дизайнер, получивший такое задание, сделает хорошую работу, а дизайнер, которого попросят сделать «самое лучшее что-нибудь», не сделает ничего.</p>
          </li>
          <li class="nofloat">
            <div class="articles-title"><a href="articles-item.htm">Зона комфорта</a></div>
            <p>Нет желания дома у себя держать русскую электрическую или газовую плиту. Она просто <i>плохая</i>, хотя, возможно, законы физики у нее соблюдаются хорошо, и конвекция работает, и с инженерной точки зрения науки там все продумано. То же самое верно по отношению к русским автомобилям, домам, отелям, любому сервису — список бесконечен. </p>
          </li>
          </ul>

          <div class="pagination">
            <ul>
            <li class="page-backward"><a href="">&laquo;</a></li>
            <li class="page-selected"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li class="page-forward"><a href="">&raquo;</a></li>
            </ul>
          </div>
        </section>

      </main>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="footer-counters">
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
    </div>
    <div class="footer-copyright">
      &copy; 2014. My company.
    </div>
  </div>
</footer>

<script data-pack="None">
//<![CDATA[
$(function() {
  $('html').removeClass('no-js');
});
//]]>
</script>

</body>
</html>