<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width" />
<script src="js/jquery.js"></script>
<link rel="stylesheet" href="css/styles.css" />
<!--[if lt IE 9]>
  <script src="js/html5shiv-printshiv.js"></script>
  <script src="js/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
  </header>

  <div id="content" class="nofloat">
    <aside id="left">
    </aside>

    <main>

      <div class="breadcrumbs">
        <a href="/">Главная</a>
        <span class="breadcrumbs-separator">/</span>
        <span>Контакты</span>
      </div>

      <section class="contacts-page">
        <h1>Контакты</h1>

        <div class="text-container">
          <p>Время работы с <b>10-00</b> до <b>18-00</b><br />выходной - <b>суббота, воскресенье</b>.</p>
        </div>

        <div class="nofloat">
          <div class="right"><a href="#"><img src="temp/map.gif" width="400" class="ib" alt="" /></a></div>

          <div class="float-none">
            <div class="bb m3">Наименование организации:</div>
            <p style="padding-left:10px">Doctor 2000</p>

            <div class="bb m3">Адрес:</div>
            <p style="padding-left:10px">1111024, г. Москва, 2-я Кабельная улица, д. 15<br />Цокольный этаж, ст. метро &laquo;Авиамоторная&raquo;</p>

            <div class="bb m3">Телефоны, факсы:</div>
            <p style="padding-left:10px">(495) 632-55-88<br />(495) 632-55-89</p>

            <div class="bb m3">URL-адрес:</div>
            <p style="padding-left:10px"><a href="http://www.doctor2000.ru/">http://www.doctor2000.ru/</a></p>

            <div class="bb m7">ICQ:</div>
            <div style="padding:0 0 5px 10px">
              <div class="m5"><img src="images/icq.gif" alt="" /> <a href="http://wwp.icq.com/scripts/contact.dll?msgto=8888888">8888888</a></div>
              <div class="m5"><img src="images/icq.gif" alt="" /> <a href="http://wwp.icq.com/scripts/contact.dll?msgto=8888888">8888888</a></div>
            </div>

            <div class="bb m3">E-mail:</div>
            <p style="padding-left:10px"><a href="mailto:info@doctor2000.ru">info@doctor2000.ru</a></p>
          </div>
        </div>
      </section>

    </main>
  </div>
</div>

<footer>
  <div class="counters">
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
  </div>
  <div class="copyright">
    <div class="m5">&copy; 2013</div>
    <a href="http://artwist.ru/">Web-дизайн, создание сайта, продвижение сайта</a> - <b><a href="http://artwist.ru/">ArTwist</a></b>
  </div>
</footer>

</body>
</html>