<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="js/jquery.js"></script>
<link rel="stylesheet" href="css/styles.css" />
<!--[if lt IE 9]>
  <script src="js/html5shiv-printshiv.js"></script>
  <script src="js/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
  </header>

  <nav>
    <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    </ul>
  </nav>

  <div id="content" class="nofloat">
    <aside id="left">
    </aside>

    <main>

      <div class="breadcrumbs">
        <a href="/">Главная</a>
        <span class="breadcrumbs-separator">/</span>
        <span>Галереи</span>
      </div>

      <section class="galleries">
        <h1>Галереи</h1>

        <div class="paginator">
          <div class="paginator-header"></div>
          <ul>
          <li class="page-backward"><a href="">&laquo;</a></li>
          <li class="page-selected"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li class="page-forward"><a href="">&raquo;</a></li>
          </ul>
          <div class="paginator-footer"></div>
        </div>

        <ul class="list list-hr">
        <li>
          <div class="nofloat">
            <div style="float:right"><a href="galleries-item.htm">посмотреть все фотографии</a></div>
            <div class="h4 hova"><a href="galleries-item.htm">Новогодний корпоратив</a></div>
          </div>
          <div class="text-container">
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
          </div>
        </li>
        <li>
          <div class="nofloat">
            <div style="float:right" class="mrk2_"><a href="galleries-item.htm">посмотреть все фотографии</a></div>
            <div class="h4 hova"><a href="galleries-item.htm">Встреча на природе</a></div>
          </div>
          <div class="text-container">
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
          </div>
        </li>
        <li>
          <div class="nofloat">
            <div style="float:right" class="mrk2_"><a href="galleries-item.htm">посмотреть все фотографии</a></div>
            <div class="h4 hova"><a href="galleries-item.htm">Игра в пейнтбол всем офисом</a></div>
          </div>
          <div class="text-container">
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" width="164" class="ib" alt="" /></a></div>
          </div>
        </li>
        </ul>

        <div class="paginator m10">
          <div class="paginator-header"></div>
          <ul>
          <li class="page-backward"><a href="">&laquo;</a></li>
          <li class="page-selected"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li class="page-forward"><a href="">&raquo;</a></li>
          </ul>
          <div class="paginator-footer"></div>
        </div>
      </section>

    </main>
  </div>
</div>

<footer>
  <div class="footer-counters">
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
  </div>
  <div class="footer-copyright">
    <div class="m5">&copy; 2013</div>
    <a href="http://artwist.ru/">Web-дизайн, создание сайта, продвижение сайта</a> - <b><a href="http://artwist.ru/">ArTwist</a></b>
  </div>
</footer>

<script data-pack="None">
//<![CDATA[
$(function() {
  $('html').removeClass('no-js');
});
//]]>
</script>

</body>
</html>