<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="css/styles.css" />
<script src="http://js.awst.ru/jquery.js"></script>
<!--[if lt IE 9]>
  <script src="http://js.awst.ru/html5shiv-printshiv.js"></script>
  <script src="http://js.awst.ru/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
    <div class="wrapper">
    </div>
  </header>

  <nav>
    <div class="wrapper">
      <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      </ul>
    </div>
  </nav>

  <div id="content">
    <div class="wrapper">
      <aside id="left">
      </aside>

      <aside id="right">
      </aside>

      <main>

        <div class="breadcrumbs">
          <a href="/">Главная</a>
          <span class="breadcrumbs-separator">/</span>
          <a href="galleries-list.htm">Галереи</a>
          <span class="breadcrumbs-separator">/</span>
          <span>Встреча на природе</span>
        </div>

        <section class="galleries-page">
          <h1>Встреча на природе</h1>

          <div class="nofloat">
            <p>Встреча, где была ещё одна возможность отдохнуть в&nbsp;компании друзей с&nbsp;Икара на&nbsp;природе с&nbsp;шашлыками, спиртными напитками и&nbsp;песнями под гитару.</p>
          </div>

          <div class="galleries-foto-container">
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" alt="" /></a></div>
            <div class="galleries-foto"><a href=""><img src="temp/foto.jpg" alt="" /></a></div>
          </div>

          <div class="hr1">&nbsp;</div>

          <ul class="default">
          <li><a href="galleries-list.htm">Все галереи</a></li>
          </ul>
        </section>

      </main>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="footer-counters">
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
    </div>
    <div class="footer-copyright">
      &copy;&nbsp;2014. My company.
    </div>
  </div>
</footer>

<script data-pack="None">
//<![CDATA[
$(function() {
  $('html').removeClass('no-js');

  if('ontouchend' in document || window.navigator.msPointerEnabled) {
    $('html').addClass('isTouchscreen');
  }  
});
//]]>
</script>
<script src="js/main.js"></script>

</body>
</html>