<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width" />
<script src="js/jquery.js"></script>
<link rel="stylesheet" href="css/styles.css" />
<!--[if lt IE 9]>
  <script src="js/html5shiv-printshiv.js"></script>
  <script src="js/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
  </header>

  <nav>
    <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    </ul>
  </nav>

  <div id="content" class="nofloat">
    <aside id="left">
    </aside>

    <main>

      <div class="breadcrumbs">
        <a href="/">Главная</a>
        <span class="breadcrumbs-separator">/</span>
        <span>Информационная страница</span>
      </div>

      <section class="info-page">
        <h1>Информационная страница</h1>

        <div class="text-container">
          <p>Наша строительная компания выполнит не только ремонт здания, ремонт офиса или реконструкцию, но и сэкономит ваше время на получение разрешительной и проектной документации. Строительная компания «ЮВЕС-строй» имеет лицензию Заказчика-застройщика. Мы предлагаем услуги по проведению реконструкции и ремонта зданий, начиная от предпроектной подготовки и планирования строительства, обеспечение проектной документацией и организацией строительства и ремонтно-строительных работ, финансирование ремонтно-строительных работ. Заканчивая материально-техническим обеспечением комплексной реконструкции здания.</p>
          <p>Естественно, что заказчик может значительно снизить стоимость строительства или реконструкции здания, если у него есть возможность самому заниматься предпроектной подготовкой и оформлением проектной документации. В этом случае стоимость работ снижается примерно до 45%.</p>
          <h2>Заголовок по тексту</h2>
          <p>Естественно, что заказчик может значительно снизить стоимость строительства или реконструкции здания, если у него есть возможность самому заниматься предпроектной подготовкой и оформлением проектной документации. В этом случае стоимость работ снижается примерно до 45%.</p>
        </div>

        <div class="hr1">&nbsp;</div>

        <ul class="list list-hr">
        <li class="nofloat">
          <img src="temp/foto.jpg" class="left" alt="" />
          <div class="float-none">
            <div class="h4 hova"><a href="">Современные технологии</a></div>
            <p>При выполнении всех видов услуг сотрудники компании применяют новейшие разработки и последние технологии. Новаторский подход помогает компании идти в ногу со временем и обеспечивать достойную конкуренцию другим компаниям.</p>
          </div>
        </li>
        <li class="nofloat">
          <div class="h4 hova"><a href="">Профессиональная команда</a></div>
          <p>Монтаж оборудования и систем очистки воды, гарантийное и сервисное обслуживание выполняют квалифицированные сотрудники компании, имеющие образование по профилю, специальные навыки и большой опыт работы.</p>
        </li>
        <li class="nofloat">
          <img src="temp/foto.jpg" class="left" alt="" />
          <div class="float-none">
            <div class="h4 hova"><a href="">Качество оборудования и материалов</a></div>
            <p>Все специалисты компании оснащены современным оборудованием для квалифицированного выполнения работ. Материалы и комплектующие, реализуемые компанией сертифицированы, что является дополнительным подтверждением качества.</p>
          </div>
        </li>
        </ul>

        <div class="h3">Смотрите также:</div>
        <ul class="default">
        <li><a href="">Пункт меню</a></li>
        <li><a href="">Пункт меню</a></li>
        <li><a href="">Пункт меню</a></li>
        </ul>
      </section>

    </main>
  </div>
</div>

<footer>
  <div class="counters">
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
  </div>
  <div class="copyright">
    <div class="m5">&copy; 2013</div>
    <a href="http://artwist.ru/">Web-дизайн, создание сайта, продвижение сайта</a> - <b><a href="http://artwist.ru/">ArTwist</a></b>
  </div>
</footer>

</body>
</html>