<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="http://js.awst.ru/jquery.js"></script>
<link rel="stylesheet" href="css/styles.css" />
<!--[if lt IE 9]>
  <script src="http://js.awst.ru/html5shiv-printshiv.js"></script>
  <script src="http://js.awst.ru/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
    <div class="wrapper">
    </div>
  </header>

  <nav>
    <div class="wrapper">
      <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      </ul>
    </div>
  </nav>

  <div id="content">
    <div class="wrapper">
      <aside id="left">
      </aside>

      <main>

        <div class="breadcrumbs">
          <a href="/">Главная</a>
          <span class="breadcrumbs-separator">/</span>
          <span>Ководство</span>
        </div>

        <section class="info-page">
          <h1>Ководство</h1>

          <div class="text-container">
            <p>Первые параграфы были написаны в качестве глав книги про веб-дизайн в 1997 году. Уже на следующий год стало понятно, что природная лень не позволит автору быстро довести дело до публикации на бумаге, поэтому был открыт одноименный сайт.</p>
            <p>В разные годы проект менял название. Изначально планировалось писать только про интернет, однако интересы автора несколько шире, поэтому «Ководство» плавно превратилось в заметки о дизайне, истории важных изобретений, интерфейсах, семиотике и т. д. В 2002 году началась переделка проекта с нуля, в результате чего летом 2003 года появилась исправленная и дополненная версия. В конце 2006 года специально для настоящего издания все параграфы были еще раз переписаны, а большинство иллюстраций заменено. Неактуальные и морально устаревшие параграфы составляют пропуски в нумерации, чему удивляться не надо.</p>
            <h2>Каждый абзац каждого параграфа пронумерован.</h2>
            <p>Это, с одной стороны, дисциплинирует изложение, а с другой, помогает ссылаться на нужное место в тексте (вы только что прочитали третий абзац нулевого параграфа).</p>
            <p>«Ководство», являясь отражением мировоззрения и личного мнения автора, посвящено дизайну как образу жизни и мысли. Дизайнер, вопреки превратному представлению большинства, не только водит мышью по столу, он живет своей профессией, делая из хаоса порядок. Он владеет умами и создает настроения. Хороший дизайнер управляет людьми с помощью своих произведений, плохому нужна плетка-семихвостка.</p>
            <p>В «Ководстве» нет готовых рецептов дизайнерского успеха, потому что их вообще никто не знает. А как употреблять пищу для ума — за столом с хорошим вином или глотая кусками с картонной тарелочки — дело читателя.</p>
          </div>

          <div class="hr1">&nbsp;</div>

          <ul class="list list-hr">
          <li class="nofloat">
            <img src="temp/foto.jpg" class="pull-left" alt="" />
            <div class="float-none">
              <div class="h4"><a href="">Шесть приемов порноиндустрии</a></div>
              <p>По внешним признакам всегда легко узнать информационный сайт, каталог, домашнюю страницу, поисковую систему. То же и с порнографическими сайтами: их всегда можно легко и безошибочно распознать, так как они редко бывают похожи на сайт новостного агентства.</p>
            </div>
          </li>
          <li class="nofloat">
            <div class="h4"><a href="">Почему сайты не должны издавать звуков</a></div>
            <p>В чем главное отличие интернета от телевидения? В том, что сеть не издает звуков. Общение с компьютером устроено по принципу общения с книгой — сиди себе и читай (или пиши). Нормальная книга никаких звуков не производит. Нормальный компьютер сам по себе — тоже (не считая шума вентиляторов).</p>
            <p>Представим себе ситуацию: тихий, спокойный человек неспешно серфит по просторам нашей всемирной глобальной компьютерной и вдруг заплывает на страницу к Василию Пупкину. У тихого серфера в это время играет компакт-диск с тихой, спокойной музыкой. Страница Пупкина загружается неспешно, но и посетитель наш тоже особенно никуда не торопится.</p>
            <p>И в этот самый момент тихая спокойная мелодия перебивается звуками песни «There must be an angel» или «Хали-гали, паратрупер, нам с тобою было супер». Человек прекрасно помнит, что он слушает что-то другое, и снимает наушники, чтобы проверить, какая такая гадина решила включить попсу погромче. Но в комнате — тишина. Он надевает наушники обратно, а там продолжает звучать «...playing with my heart» или «...супер восемь, хали-гали, мы с тобой всю ночь летали».</p>
            <p>Посетитель считает, что это звуковой обман, и не желает верить в него. На всякий случай он ставит на паузу свой компакт-диск. И теперь посторонняя мелодия слышна отчетливо. Тут до нашего знакомого доходит: «Это же фоновая музыка на сайте Пупкина!» Как от нее избавиться? Страница Василия прокручивается сверху донизу быстрым движением колеса мыши — никаких признаков плеера нет. Нельзя поставить на паузу, нельзя выключить. Остается только молниеносно нажать «назад» и отложить в памяти информацию о том, что на страницу к Пупкину больше ходить не надо.</p>
          </li>
          <li class="nofloat">
            <div class="h4"><a href="">Lorem ipsum</a></div>
            <div class="nofloat">
              <img src="temp/foto.jpg" class="pull-left" alt="" />
              <p>В западной традиции рыбой выступает фрагмент латинского текста из философского трактата Цицерона «О пределах добра и зла», написанного в 45 году до нашей эры. Впервые этот текст был применен для набора шрифтовых образцов неизвестным печатником еще в XVI веке.</p>
              <p>Сегодня этот текст используют практически все дизайнеры, набирающие рыбу латиницей. Абзац считается каноническим во всех справочниках по типографике и предлагается к использованию в статьях, посвященных изготовлению макета верстки при отсутствии финальных текстов. В руководствах по работе с фирменным стилем крупных международных компаний именно с этих слов начинаются образцы верстки. Существуют даже издания с названием Lorem ipsum.</p>
              <p>Интересно узнать, в какой момент слова из середины предложения (dolorem ipsum) стали началом традиционного типографского абзаца (Lorem ipsum).</p>
            </div>
          </li>
          </ul>

          <div class="h3">Смотрите также:</div>
          <ul class="default">
          <li><a href="">Разрешение картинок</a></li>
          <li><a href="">Доллар куда будем ставить?</a></li>
          <li><a href="">За спиной у президента</a></li>
          </ul>
        </section>

      </main>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="footer-counters">
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
    </div>
    <div class="footer-copyright">
      <div class="m5">&copy; 2013</div>
      <a href="http://artwist.ru/">Web-дизайн, создание сайта, продвижение сайта</a> - <b><a href="http://artwist.ru/">ArTwist</a></b>
    </div>
  </div>
</footer>

<script data-pack="None">
//<![CDATA[
$(function() {
  $('html').removeClass('no-js');
});
//]]>
</script>

</body>
</html>