<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="http://js.awst.ru/jquery.js"></script>
<link rel="stylesheet" href="css/styles.css" />
<!--[if lt IE 9]>
  <script src="http://js.awst.ru/html5shiv-printshiv.js"></script>
  <script src="http://js.awst.ru/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
  </header>

  <nav>
    <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    </ul>
  </nav>

  <div id="content" class="nofloat">
    <aside id="left">
    </aside>

    <main>

      <div class="breadcrumbs">
        <a href="/">Главная</a>
        <span class="breadcrumbs-separator">/</span>
        <a href="news-list.htm">Новости</a>
        <span class="breadcrumbs-separator">/</span>
        <span>В шорт-лист на включение в Олимпиаду-2020 вошли сквош, бейсбол и борьба</span>
      </div>

      <section class="news">
        <h1>В шорт-лист на включение в Олимпиаду-2020 вошли сквош, бейсбол и борьба</h1>

        <div class="news-date">28.05.2013</div>

        <div class="nofloat">
          <p>В шорт-лист на включение в программу Олимпиады-2020 попали бейсбол (софтбол), сквош и борьба. Об этом сообщает Reuters со ссылкой на Международный олимпийский комитет (МОК).</p>
          <p>Исполком МОК на заседании в Санкт-Петербурге отклонил пять других дополнительных видов: карате, роликовый спорт, скалолазание, вейкбординг и ушу.</p>
          <p>В окончательную программу Игр попадет один вид спорта из трех, включенных в шорт-лист. Голосование, которое определит победителя, должно пройти во время сессии МОК в Буэнос-Айресе в сентябре 2013 года.</p>
          <h2>Борьба ранее входила в число основных видов летней олимпийской программы</h2>
          <p>Однако в феврале 2013 года исполком МОК принял решение о ее исключении. Это решение вызвало недовольство спортивного сообщества в России и других странах СНГ, например, Армении и Казахстане, представители которых традиционно показывают в борьбе хороший результат. В настоящий момент (до 2020 года) в летнюю олимпийскую программу входят три вида борьбы — греко-римская, вольная и женская.</p>
        </div>

        <div class="hr1">&nbsp;</div>

        <ul class="default">
        <li><a href="news-list.htm">Все новости</a></li>
        </ul>
      </section>

    </main>
  </div>
</div>

<footer>
  <div class="footer-counters">
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
  </div>
  <div class="footer-copyright">
    <div class="m5">&copy; 2013</div>
    <a href="http://artwist.ru/">Web-дизайн, создание сайта, продвижение сайта</a> - <b><a href="http://artwist.ru/">ArTwist</a></b>
  </div>
</footer>

<script data-pack="None">
//<![CDATA[
$(function() {
  $('html').removeClass('no-js');
});
//]]>
</script>

</body>
</html>