<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="js/jquery.js"></script>
<link rel="stylesheet" href="css/styles.css" />
<!--[if lt IE 9]>
  <script src="js/html5shiv-printshiv.js"></script>
  <script src="js/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
  </header>

  <nav>
    <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    </ul>
  </nav>

  <div id="content" class="nofloat">
    <aside id="left">
    </aside>

    <main>

      <div class="breadcrumbs">
        <a href="/">Главная</a>
        <span class="breadcrumbs-separator">/</span>
        <span>Новости</span>
      </div>

      <section class="news">
        <h1>Новости</h1>

        <div class="paginator">
          <div class="paginator-header"></div>
          <ul>
          <li class="page-backward"><a href="">&laquo;</a></li>
          <li class="page-selected"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li class="page-forward"><a href="">&raquo;</a></li>
          </ul>
          <div class="paginator-footer"></div>
        </div>

        <ul class="list list-hr">
        <li class="nofloat">
          <div class="news-date">30.05.2013</div>
          <div class="h4 hova"><a href="news-item.htm">Из законопроекта о борьбе с пиратством исключили поисковики</a></div>
          <p>По словам Ромашовой, норму о продвижении в поисковиках сайтов с легальным контентом предложили правообладатели. В законопроект это положение добавили «для обсуждения» и впоследствии признали «сырым». Сейчас норму из законопроекта исключили.</p>
          <p>То же самое было сделано с пунктом, обязывающим поисковики удалять ссылки на нелегальный контент, отметила Ромашова. «Поисковики и торренты — это вторые вопросы, которые следует обсуждать», — подчеркнула она.</p>
        </li>
        <li class="nofloat">
          <div class="news-date">29.05.2013</div>
          <div class="h4 hova"><a href="news-item.htm">Сотрудника калифорнийского «Диснейленда» арестовали по делу о взрыве</a></div>
          <p>В рамках расследования дела о взрыве емкости с сухим льдом в калифорнийском «Диснейленде» арестован один из сотрудников тематического парка развлечений, сообщает Reuters в среду, 29 мая, со ссылкой на заявление местной полиции.</p>
        </li>
        <li class="nofloat">
          <div class="news-date">28.05.2013</div>
          <div class="h4 hova"><a href="news-item.htm">В шорт-лист на включение в Олимпиаду-2020 вошли сквош, бейсбол и борьба</a></div>
          <p>В шорт-лист на включение в программу Олимпиады-2020 попали бейсбол (софтбол), сквош и борьба. Об этом сообщает Reuters со ссылкой на Международный олимпийский комитет (МОК).</p>
          <p>Исполком МОК на заседании в Санкт-Петербурге отклонил пять других дополнительных видов: карате, роликовый спорт, скалолазание, вейкбординг и ушу.</p>
        </li>
        </ul>

        <div class="paginator m10">
          <div class="paginator-header"></div>
          <ul>
          <li class="page-backward"><a href="">&laquo;</a></li>
          <li class="page-selected"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li class="page-forward"><a href="">&raquo;</a></li>
          </ul>
          <div class="paginator-footer"></div>
        </div>
      </section>

    </main>
  </div>
</div>

<footer>
  <div class="counters">
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
  </div>
  <div class="copyright">
    <div class="m5">&copy; 2013</div>
    <a href="http://artwist.ru/">Web-дизайн, создание сайта, продвижение сайта</a> - <b><a href="http://artwist.ru/">ArTwist</a></b>
  </div>
</footer>

</body>
</html>