<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="http://js.awst.ru/jquery.js"></script>
<link rel="stylesheet" href="css/styles.css" />
<!--[if lt IE 9]>
  <script src="http://js.awst.ru/html5shiv-printshiv.js"></script>
  <script src="http://js.awst.ru/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
    <div class="wrapper">
    </div>
  </header>

  <nav>
    <div class="wrapper">
      <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      </ul>
    </div>
  </nav>

  <div id="content">
    <div class="wrapper">
      <aside id="left">
      </aside>

      <aside id="right">
      </aside>

      <main>

        <div class="breadcrumbs">
          <a href="/">Главная</a>
          <span class="breadcrumbs-separator">/</span>
          <span>Новости</span>
        </div>

        <section class="news-page">
          <h1>Новости</h1>

          <div class="pagination">
            <ul>
            <li class="page-backward"><a href="">&laquo;</a></li>
            <li class="page-selected"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li class="page-forward"><a href="">&raquo;</a></li>
            </ul>
          </div>

          <ul class="news-list">
          <li class="nofloat">
            <div class="news-date">30.05.2013</div>
            <div class="news-title"><a href="news-item.htm">Из&nbsp;законопроекта о&nbsp;борьбе с&nbsp;пиратством исключили поисковики</a></div>
            <p>По&nbsp;словам Ромашовой, норму о&nbsp;продвижении в&nbsp;поисковиках сайтов с&nbsp;легальным контентом предложили правообладатели. В&nbsp;законопроект это положение добавили &laquo;для обсуждения&raquo; и&nbsp;впоследствии признали &laquo;сырым&raquo;. Сейчас норму из&nbsp;законопроекта исключили.</p>
            <p>То&nbsp;же самое было сделано с&nbsp;пунктом, обязывающим поисковики удалять ссылки на&nbsp;нелегальный контент, отметила Ромашова. &laquo;Поисковики и&nbsp;торренты&nbsp;&mdash; это вторые вопросы, которые следует обсуждать&raquo;,&nbsp;&mdash; подчеркнула она.</p>
          </li>
          <li class="nofloat">
            <div class="news-date">29.05.2013</div>
            <div class="news-title"><a href="news-item.htm">Сотрудника калифорнийского &laquo;Диснейленда&raquo; арестовали по&nbsp;делу о&nbsp;взрыве</a></div>
            <p>В&nbsp;рамках расследования дела о&nbsp;взрыве емкости с&nbsp;сухим льдом в&nbsp;калифорнийском &laquo;Диснейленде&raquo; арестован один из&nbsp;сотрудников тематического парка развлечений, сообщает Reuters в&nbsp;среду, 29&nbsp;мая, со&nbsp;ссылкой на&nbsp;заявление местной полиции.</p>
          </li>
          <li class="nofloat">
            <div class="news-date">28.05.2013</div>
            <div class="news-title"><a href="news-item.htm">В&nbsp;шорт-лист на&nbsp;включение в&nbsp;Олимпиаду-2020 вошли сквош, бейсбол и&nbsp;борьба</a></div>
            <p>В&nbsp;шорт-лист на&nbsp;включение в&nbsp;программу Олимпиады-2020 попали бейсбол (софтбол), сквош и&nbsp;борьба. Об&nbsp;этом сообщает Reuters со&nbsp;ссылкой на&nbsp;Международный олимпийский комитет (МОК).</p>
            <p>Исполком МОК на&nbsp;заседании в&nbsp;Санкт-Петербурге отклонил пять других дополнительных видов: карате, роликовый спорт, скалолазание, вейкбординг и&nbsp;ушу.</p>
          </li>
          </ul>

          <div class="pagination">
            <ul>
            <li class="page-backward"><a href="">&laquo;</a></li>
            <li class="page-selected"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li class="page-forward"><a href="">&raquo;</a></li>
            </ul>
          </div>
        </section>

      </main>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="footer-counters">
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
    </div>
    <div class="footer-copyright">
      &copy;&nbsp;2014. My company.
    </div>
  </div>
</footer>

<script data-pack="None">
//<![CDATA[
$(function() {
  $('html').removeClass('no-js');
});
//]]>
</script>

</body>
</html>