<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width" />
<script src="js/jquery.js"></script>
<link rel="stylesheet" href="css/styles.css" />
<!--[if lt IE 9]>
  <script src="js/html5shiv-printshiv.js"></script>
  <script src="js/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
  </header>

  <nav>
    <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    </ul>
  </nav>

  <div id="content" class="nofloat">
    <aside id="left">
    </aside>

    <main>

      <div class="breadcrumbs">
        <a href="/">Главная</a>
        <span class="breadcrumbs-separator">/</span>
        <a href="resources-list.htm">Ресурсы по теме</a>
        <span class="breadcrumbs-separator">/</span>
        <span>Двери и лестницы</span>
      </div>

      <section class="resources">
        <h1>Двери и лестницы</h1>

        <div class="text-container">
          <p>Сайтов в рубрике: <b>8</b></p>
        </div>

        <ul class="list list-hr">
        <li class="nofloat">
          <div class="m5"><b><a href="http://www.andoor.ru/">Изготовление дверей под заказ</a></b></div>
          <div class="m5">Компания "АНДОР ГРУПП" - производство и продажа деревянных дверей в Москве. Входные, межкомнатные двери из бука, ольхи, массива дуба. Адрес выставочного комплекса. Контакты.</div>
          <p><a href="http://www.andoor.ru/" style="padding-right:10px">www.andoor.ru</a> Регион: Москва</p>
        </li>
        <li class="nofloat">
          <div class="m5"><b><a href="http://www.andoor.ru/">Изготовление дверей под заказ</a></b></div>
          <div class="m5">Компания "АНДОР ГРУПП" - производство и продажа деревянных дверей в Москве. Входные, межкомнатные двери из бука, ольхи, массива дуба. Адрес выставочного комплекса. Контакты.</div>
          <p><a href="http://www.andoor.ru/" style="padding-right:10px">www.andoor.ru</a> Регион: Москва</p>
        </li>
        <li class="nofloat">
          <div class="m5"><b><a href="http://www.andoor.ru/">Изготовление дверей под заказ</a></b></div>
          <div class="m5">Компания "АНДОР ГРУПП" - производство и продажа деревянных дверей в Москве. Входные, межкомнатные двери из бука, ольхи, массива дуба. Адрес выставочного комплекса. Контакты.</div>
          <p><a href="http://www.andoor.ru/" style="padding-right:10px">www.andoor.ru</a> Регион: Москва</p>
        </li>
        <li class="nofloat">
          <div class="m5"><b><a href="http://www.andoor.ru/">Изготовление дверей под заказ</a></b></div>
          <div class="m5">Компания "АНДОР ГРУПП" - производство и продажа деревянных дверей в Москве. Входные, межкомнатные двери из бука, ольхи, массива дуба. Адрес выставочного комплекса. Контакты.</div>
          <p><a href="http://www.andoor.ru/" style="padding-right:10px">www.andoor.ru</a> Регион: Москва</p>
        </li>
        <li class="nofloat">
          <div class="m5"><b><a href="http://www.andoor.ru/">Изготовление дверей под заказ</a></b></div>
          <div class="m5">Компания "АНДОР ГРУПП" - производство и продажа деревянных дверей в Москве. Входные, межкомнатные двери из бука, ольхи, массива дуба. Адрес выставочного комплекса. Контакты.</div>
          <p><a href="http://www.andoor.ru/" style="padding-right:10px">www.andoor.ru</a> Регион: Москва</p>
        </li>
        </ul>

        <div class="paginator m10">
          <div class="paginator-header"></div>
          <ul>
          <li class="page-backward"><a href="">&laquo;</a></li>
          <li class="page-selected"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li class="page-forward"><a href="">&raquo;</a></li>
          </ul>
          <div class="paginator-footer"></div>
        </div>

        <p>Раздел: <select><option>Строительство домов</option><option>Строительное оборудование</option><option>Кровля</option><option>Ландшафтный дизайн</option><option>Ремонт и отделка помещений</option><option>Строительные порталы</option><option>Окна и жалюзи</option><option>Двери и лестницы</option><option>Напольные покрытия</option><option>Сантехника и канализация</option><option>Спецодежда</option><option>Стеновые материалы</option></select></p>

        <p>Служба поддержки: <a href="mailto:promo@site.ru">promo@site.ru</a></p>
      </section>

    </main>
  </div>
</div>

<footer>
  <div class="counters">
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
    <img src="images/hotlog.gif" alt="" />
  </div>
  <div class="copyright">
    <div class="m5">&copy; 2013</div>
    <a href="http://artwist.ru/">Web-дизайн, создание сайта, продвижение сайта</a> - <b><a href="http://artwist.ru/">ArTwist</a></b>
  </div>
</footer>

</body>
</html>