<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="css/styles.css" />
<script data-pack="None">
//<![CDATA[
window.$queue = [];
window.$ = function(f) {
  $queue.push(f);
};
//]]>
</script>
<!--[if lt IE 9]>
  <script src="http://js.awst.ru/html5shiv-printshiv.js"></script>
  <script src="http://js.awst.ru/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
    <div class="wrapper">
    </div>
  </header>

  <nav>
    <div class="wrapper">
      <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      </ul>
    </div>
  </nav>

  <div id="content">
    <div class="wrapper">
      <aside id="left">
      </aside>

      <aside id="right">
      </aside>

      <main>

        <div class="breadcrumbs">
          <a href="/">Главная</a>
          <span class="breadcrumbs-separator">/</span>
          <span>Ресурсы по теме</span>
        </div>

        <section class="resources-page">
          <h1>Ресурсы по теме</h1>

          <div class="text-container">
            <p>В&nbsp;данном разделе сайта размещены интернет-ресурсы, посвященные тематике &laquo;Гидроизоляционные материалы&raquo;.</p>
          </div>

          <div class="row-2">
            <div class="col">
              <ul>
              <li><a href="resources-item.htm">Двери и лестницы</a> (8)</li>
              <li><a href="resources-item.htm">Строительство зданий</a> (0)</li>
              <li><a href="resources-item.htm">Ремонт и отделка помещений</a> (0)</li>
              <li><a href="resources-item.htm">Строительные порталы</a> (1)</li>
              <li><a href="resources-item.htm">Панели, фасады</a> (5)</li>
              <li><a href="resources-item.htm">Строительные материалы</a> (1)</li>
              <li><a href="resources-item.htm">Спецодежда</a> (1)</li>
              </ul>
            </div>
            <div class="col">
              <ul>
              <li><a href="resources-item.htm">Окна, жалюзи</a> (4)</li>
              <li><a href="resources-item.htm">Кровля</a> (0)</li>
              <li><a href="resources-item.htm">Напольные покрытия</a> (1)</li>
              <li><a href="resources-item.htm">Сантехника и канализация</a> (4)</li>
              <li><a href="resources-item.htm">Плитка и облицовка</a> (0)</li>
              <li><a href="resources-item.htm">Ландшафтный дизайн</a> (0)</li>
              <li><a href="resources-item.htm">Строительное оборудование</a> (0)</li>
              </ul>
            </div>
          </div>

          <div class="resources-form-title">Форма для добавления сайта в каталог</div>

          <div class="text-container">
            <p>Мы&nbsp;обмениваемся ссылками с&nbsp;сайтами схожей тематики. Если ваш проект может быть интересен посетителям нашего сайта, вы&nbsp;можете заполнить приведенную ниже форму и&nbsp;мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время.</p>
          </div>

          <form action="/" class="form">
            <div class="text-container">
              <label class="form-title" for="resources-url">URL сайта <span class="form-required">*</span></label>
              <div class="form-field form-error"><input type="text" class="input" id="resources-url" /></div>
            </div>
            <div class="text-container">
              <label class="form-title" for="resources-name">Название сайта <span class="form-required">*</span></label>
              <div class="form-field">
                <input type="text" class="input" id="resources-name" />
                <div class="form-error-message">Это поле обязательно нужно заполнить!</div>
              </div>
            </div>
            <div class="text-container">
              <label class="form-title" for="resources-description">Описание сайта <span class="form-required">*</span></label>
              <div class="form-field"><textarea rows="5" cols="5" id="resources-description"></textarea></div>
            </div>
            <div class="text-container">
              <label class="form-title" for="resources-category">Категория <span class="form-required">*</span></label>
              <div class="form-field"><select id="resources-category"><option selected="selected">Строительство домов</option><option>Строительное оборудование</option><option>Кровля</option></select></div>
            </div>
            <div class="text-container">
              <label class="form-title" for="resources-email">Ваш e-mail <span class="form-required">*</span></label>
              <div class="form-field form-success"><input type="text" class="input" id="resources-email" /></div>
            </div>
            <div class="text-container honeypot">
              <label class="form-title" for="resources-honeypot">HoneyPot</label>
              <div class="form-field"><input type="text" class="inp" id="resources-honeypot" /></div>
            </div>

            <div class="form-hint">Поля, отмеченные знаком <span class="form-required">*</span>, обязательны для заполнения.</div>

            <div class="form-submit"><input type="image" src="images/button-send.png" alt="Отправить" /></div>
          </form>

          <script data-pack="None">
          //<![CDATA[
          $(function() {
            // Простейшая ботоловка
            $('#resources-honeypot').parents('.honeypot').hide();
          });
          //]]>
          </script>
        </section>

      </main>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="footer-counters">
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
    </div>
    <div class="footer-copyright">
      &copy;&nbsp;2014. My company.
    </div>
  </div>
</footer>

<script src="http://js.awst.ru/jquery.js"></script>
<script src="js/main.js"></script>
<script data-pack="None">
//<![CDATA[
$(function() {
  $('html').removeClass('no-js');

  if('ontouchend' in document || window.navigator.msPointerEnabled) {
    $('html').addClass('isTouchscreen');
  }
});
$.each($queue, function(index, callback) {
  $(callback);
});
delete $queue;
//]]>
</script>

</body>
</html>