<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="http://js.awst.ru/jquery.js"></script>
<link rel="stylesheet" href="css/styles.css" />
<!--[if lt IE 9]>
  <script src="http://js.awst.ru/html5shiv-printshiv.js"></script>
  <script src="http://js.awst.ru/respond.js"></script>
<![endif]-->
</head>

<body>

<div id="structure">
  <header>
    <div class="wrapper">
    </div>
  </header>

  <nav>
    <div class="wrapper">
      <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      </ul>
    </div>
  </nav>

  <div id="content">
    <div class="wrapper">
      <aside id="left">
      </aside>

      <main>

        <div class="breadcrumbs">
          <a href="/">Главная</a>
          <span class="breadcrumbs-separator">/</span>
          <a href="resources-list.htm">Ресурсы по теме</a>
          <span class="breadcrumbs-separator">/</span>
          <span>Двери и лестницы</span>
        </div>

        <section class="resources">
          <h1>Двери и лестницы</h1>

          <div class="text-container">
            <p>Сайтов в рубрике: <b>8</b></p>
          </div>

          <ul class="resources-list list">
          <li class="nofloat">
            <div class="resources-title"><a href="http://www.stroimdom.com/">Брусовые дома</a></div>
            <div class="resources-announce"><p>Предлагаем проекты деревянных домов из оцилиндрованного бревна и домов из бруса. Конструируем и строим под заказ брусовые дома, которые послужат Вам долгое время. Широкий выбор проектов рубленных домов.</p></div>
            <div class="resources-link"><a href="http://www.stroimdom.com/">http://www.stroimdom.com/</a> Регион: Центр</div>
          </li>
          <li class="nofloat">
            <div class="resources-title"><a href="http://www.metallaline.ru/">Металлолайн</a></div>
            <div class="resources-announce"><p>Демонтаж зданий, снос сооружений и домов. А также приём металлолома и лома чёрных металлов.</p></div>
            <div class="resources-link"><a href="http://www.metallaline.ru/">http://www.metallaline.ru/</a> Регион: Москва</div>
          </li>
          <li class="nofloat">
            <div class="resources-title"><a href="http://www.andoor.ru/">Изготовление дверей под заказ</a></div>
            <div class="resources-announce"><p>Компания "АНДОР ГРУПП" - производство и продажа деревянных дверей в Москве. Входные, межкомнатные двери из бука, ольхи, массива дуба. Адрес выставочного комплекса. Контакты.</p></div>
            <div class="resources-link"><a href="http://www.andoor.ru/">http://www.andoor.ru/</a> Регион: Москва</div>
          </li>
          <li class="nofloat">
            <div class="resources-title"><a href="http://www.domizbrysa.ru">Дома из бруса под ключ</a></div>
            <div class="resources-announce"><p>Коттеджи, бани, дачные дома эконом класса. Строительство деревянных домов и бань из профилированного бруса по типовым проектам и на заказ.</p></div>
            <div class="resources-link"><a href="http://www.domizbrysa.ru">http://www.domizbrysa.ru</a> Регион: Москва и область</div>
          </li>
          <li class="nofloat">
            <div class="resources-title"><a href="http://www.savvateevo.ru/">Проектирование домов из бруса</a></div>
            <div class="resources-announce"><p>Дома из бруса от эконом класса до элитных. Нами выполняется проектирование домов из бруса возможно на самых выгодных условиях. Даем гарантию на все выполненные работы.</p></div>
            <div class="resources-link"><a href="http://www.savvateevo.ru/">http://www.savvateevo.ru/</a> Регион: Москва</div>
          </li>
          </ul>

          <div class="pagination">
            <ul>
            <li class="page-backward"><a href="">&laquo;</a></li>
            <li class="page-selected"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li class="page-forward"><a href="">&raquo;</a></li>
            </ul>
          </div>

          <p>Раздел: <select><option>Строительство домов</option><option>Строительное оборудование</option><option>Кровля</option><option>Ландшафтный дизайн</option><option>Ремонт и отделка помещений</option><option>Строительные порталы</option><option>Окна и жалюзи</option><option>Двери и лестницы</option><option>Напольные покрытия</option><option>Сантехника и канализация</option><option>Спецодежда</option><option>Стеновые материалы</option></select></p>

          <p>Служба поддержки: <a href="mailto:promo@site.ru">promo@site.ru</a></p>
        </section>

      </main>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="footer-counters">
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
      <img src="images/hotlog.gif" alt="" />
    </div>
    <div class="footer-copyright">
      &copy; 2013. My company.
    </div>
  </div>
</footer>

<script data-pack="None">
//<![CDATA[
$(function() {
  $('html').removeClass('no-js');
});
//]]>
</script>

</body>
</html>