// HTML structure
& when (@body-full-height) {
  html,
  body {
    height: 100%;
  }
}
body {
  min-width: @min-width-wrapper;
  max-width: @max-width-base;

  & when (@body-centered) {
    margin: 0 auto;
  }
}

header {
  box-sizing: border-box;
  background: @header-background;
  .set-value_(padding; @header-padding);

  & when not (@header-height = auto) {
    .set-value_(height; @header-height);
  }

  > .wrapper when not (@header-wrapper-background = none) {
    background: @header-wrapper-background;
  }
}
#structure {
  position: relative;
  background: @structure-background;
  margin: 0 auto;

  & when (@body-full-height) {
    min-height: 100%;
  }
}
#content {
  background: @content-background;

  & when (@footer-to-bottom) and not (@footer-height = auto) {
    .set-value_(padding-bottom; (@footer-height + @content-padding-bottom));
  }
  & when not (@footer-to-bottom) {
    .set-value_(padding-bottom; @content-padding-bottom);
  }

  .wrapper when not (@content-wrapper-background = none) {
    background: @content-wrapper-background;
  }
  .wrapper {
    .clearfix;
  }
}
aside,
main {
  box-sizing: border-box;
  float: left;
}
aside#left {
  background: @sidebar-left-background;
  .set-value(width; @sidebar-left-width; padding; @sidebar-left-padding);
}
aside#right {
  background: @sidebar-right-background;
  .set-value(width; @sidebar-right-width; padding; @sidebar-right-padding);
}
main {
  background: @main-background;
  .set-value(width; calc(100% - @sidebar-left-width - @sidebar-right-width); padding; @main-padding);

  &.no-aside-left {
    width: calc(100% - @sidebar-right-width);
    padding-left: 0;
  }
  &.no-aside-right {
    width: calc(100% - @sidebar-left-width);
    padding-right: 0;
  }
  &.full,
  &.no-aside-left.no-aside-right {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
footer {
  position: relative;
  box-sizing: border-box;
  background: @footer-background;
  .set-value_(padding; @footer-padding);
  text-align: @footer-text-align;

  & when (@footer-centered) {
    margin: 0 auto;
  }

  > .wrapper when not (@footer-wrapper-background = none) {
    background: @footer-wrapper-background;
  }
  > .wrapper when not (@footer-height = auto) {
    & when (@footer-to-bottom) {
      .set-value(height; @footer-height; margin-top; -@footer-height);
    }
    & when not (@footer-to-bottom) {
      .set-value_(min-height; @footer-height);
    }
  }
}

.wrapper {
  box-sizing: border-box;
  min-width: @min-width-wrapper;
  max-width: @max-width-wrapper;
  .set-value_(padding; @wrapper-padding);

  & when (@wrapper-centered) {
    margin: 0 auto;
  }
}