// Site stylesheets

// Imports
// @import '../jquery.inputs/jquery.inputs.less';
// @import 'jquery-ui/jquery-ui.min.css';

// Local variables

// Local mixins
.link(@color: @link-color) {
  border-bottom: 1px solid @color;
  transition: border .3s;

  &:hover,
  &.active {
    border-color: transparent;
  }
}
.flip-link(@color: @link-color) {
  border-bottom: 1px solid transparent;
  transition: border .3s;

  &:hover,
  &.active {
    border-color: @color;
  }
}

.clear-list() {
  li {
    list-style: none;
  }
}

// Customized global styles
b,
strong {
  font-weight: bolder;
}


// Header
header {
  position: relative;
}


// Main navigation
nav {
  ul {
    .clear-list;
  }
}


// Footer
footer {
}
.footer {
  &-counters { // .footer-counters
    float: right;
    .set-value(padding-left; 90);

    img {
      float: left;
      .set-value(margin-left; 10);
    }
  }
  &-copyright { // .footer-copyright
    a {
    }
  }
}


// Blocks


// Pages
.articles-list {
  .list-hr;

  .articles-title {
    .h4;
  }
  .articles-announce {
    .text-container;
    margin-bottom: 0;
  }
}

.news-date {
  .margin-bottom(10);
  color: @black-50;
}
.news-list {
  .list-hr;

  .news-title {
    .h4;
  }
  .news-announce {
    .text-container;
    margin-bottom: 0;
  }
}

.contacts-title {
  .margin-bottom(5);
  .font-size(@font-size-base; @paragraph-line-height);
  .bold;
}
.contacts-value {
  .set-value(padding-left; 10);
  .font-size(@font-size-base);

  &.contacts-several-values {
    > * {
      &:not(p) {
        .set-value(padding; @paragraph-padding);
      }
      &:not(:last-child) {
        .set-value(padding-bottom; 5);
      }
    }
  }
}
.contacts-map {
  .pull-right;
  .size(500; 400);

  > * {
    display: block;
    box-sizing: border-box;
    .image-bordered;

    &,
    & img {
      .square(100%) !important;
    }
  }
}

.galleries-list {
  .list-hr;

  .galleries-title-container {
    .clearfix;

    .galleries-title {
      .h4;
    }
    .galleries-all {
      .pull-right;
    }
  }
}
.galleries-foto {
  .clearfix;
  .set-value(margin; 0 0 -8 -8);

  .galleries-foto-item {
    float: left;
    .set-value(margin; 0 0 8 8);

    img {
      .image-bordered;
    }
  }
}

.info-list {
  .list-hr;
  border-top: 1px solid @hr-color-base;
  .set-value(padding-top; 20);

  .info-title {
    .h4;
  }
  .info-announce {
    .text-container;
    margin-bottom: 0;
  }
}

.resources-list {
  .list-hr;

  .resources-title {
    .margin-bottom(5);
    .bold;
  }
  .resources-announce {
    .text-container;
    .set-value(margin-bottom; 5);

    p {
      .padding-bottom(5);
    }
  }
  .resources-link {
    a {
      .set-value(padding-right; 10);
    }
  }
}
.resources-form-title {
  .h3;
  border-top: 1px solid @hr-color-base;
  .set-value(padding-top; 20);
}

.search-results-list {
  .set-value(margin; 0 0 0 25);
  .font-size(@font-size-base);

  .search-results-title {
    .margin-bottom(5);
    .bold;
  }
  .search-results-announce {
    .text-container;
    .set-value(margin-bottom; 5);

    p {
      .padding-bottom(5);
    }
  }
  .search-results-link {
    .set-value(margin; @paragraph-padding);
  }
}

.sitemap-title {
  .h4;
}
.sitemap-list {
  .primary-list;
}
.sitemap-item {
  .margin-bottom(10);
  .font-size(@font-size-base);
}


// Tables


// Forms


// Buttons
.button {
  display: inline-block;
  background-color: @input-background;
  border: @input-border;
  border-radius: 0;
  .set-value(height; @input-height; padding; 0 @input-padding; line-height; @input-height true);
  font-size: @input-font-size;
  color: @input-color-text;
  text-decoration: none;
  white-space: nowrap;
  text-transform: lowercase;
  transition: all .3s;

  &:hover {
    background-color: @input-background-focus;
  }
  &[disabled] {
    background-color: @input-background-disabled;
  }
}


// Popups and modal windows
.modal {
  .popup;
  z-index: @modal-zIndex;
  width: @modal-width;
}


// Colors
.base,
.base a {
  color: @text-color;
}
.black,
.black a {
  color: @black;
}
.white,
.white a {
  color: @white;
}
.red,
.red a {
  color: @red;
}
.green,
.green a {
  color: @green;
}
.grey,
.grey a {
  color: @grey;
}


// Horizontal lines
.hr {
  .hr(@hr-color-base; @paragraph-padding-one 0);
}