// Site responsive stylesheets

// Local variables
@mobile-menu-link-lines-width: 20px;
@mobile-menu-link-lines-height: 2px;
@mobile-menu-link-lines-color: @text-color;

// Built-in responsiveness
& when (@isresponsive) {
  // Structure
  @media only all and (max-width: (767px * @reduction-ratio)) {
    main {
      float: none;
      width: 100% !important;
    }
    & when (@sidebar-left-width > 0) {
      aside#left {
        float: none;
        width: 100%;
        padding: 0;
      }
      main {
        padding-left: 0;
      }
    }
    & when (@sidebar-right-width > 0) {
      aside#right {
        float: none;
        width: 100%;
        padding: 0;
      }
      main {
        padding-right: 0;
      }
    }
  }
  @media only all and (max-width: ((@max-width-base - 1) * @reduction-ratio)) {
    .wrapper {
      width: 100%;
      min-width: @min-width-base;
      padding-left: @wrapper-padding-one;
      padding-right: @wrapper-padding-one;
    }
  }

  // Constructions
  & when (@modal-width > 0) {
    @media only all and (max-width: ((@modal-width - 1) * @reduction-ratio)) {
      .modal {
        border-radius: 0;
        width: 100% !important;
        margin: 0;
      }
    }
  }
  @media only all and (max-width: (767px * @reduction-ratio)) {
    .form {
      .form-title {
        float: none;
        .set-value(width; 100%; padding; @paragraph-padding);
      }
      .form-field {
        float: none;
        width: 100%;
      }
    }
  }

  // Classes
  @media only all and (max-width: (767px * @reduction-ratio)) {
    .row-2,
    .row-3 {
      margin: 0 !important;

      .col {
        float: none;
        .set-value(width; 100%; padding; 0; margin; @paragraph-padding);
      }
    }
  }

  // Helpers
  // Hidden/visible
  @media only all and (max-width: (767px * @reduction-ratio)) {
    .hidden-768 {
      display: none !important;
    }
    .visible-768 {
      display: block !important;

      span& {
        display: inline-block !important;
      }
      th&,
      td& {
        display: table-cell !important;
      }
    }
  }
  @media only all and (max-width: (599px * @reduction-ratio)) {
    .hidden-600 {
      display: none !important;
    }
    .visible-600 {
      display: block !important;

      span& {
        display: inline-block !important;
      }
      th&,
      td& {
        display: table-cell !important;
      }
    }
  }
  // Mobile menu link
  .mobile-menu-link {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: @wrapper-padding-one;
    z-index: 2;
    .translate(0, -50%);
    .square(@mobile-menu-link-lines-width false);
    margin: @mobile-menu-link-lines-width 0;
    text-decoration: none;

    span {
      position: absolute;
      top: (@mobile-menu-link-lines-height * 4);
      left: 0;
      background: @mobile-menu-link-lines-color;
      width: 100%;
      height: @mobile-menu-link-lines-height;
      transition: all .3s;

      &:first-child {
        top: (@mobile-menu-link-lines-height * 2);
      }
      &:last-child {
        top: (@mobile-menu-link-lines-height * 6);
      }

      .nav-opened & {
        &:first-child,
        &:last-child {
          top: @mobile-menu-link-lines-width;
          left: 50%;
          width: 0;
        }
        &:nth-child(2) {
          .rotate(45deg);
        }
        &:nth-child(3) {
          .rotate(-45deg);
        }
      }
    }
  }
  // Devices display
  .only-touch {
    .isDesktop & {
      display: none !important;
    }
  }
  .only-desktop {
    .isTouchscreen & {
      display: none !important;
    }
  }
  .only-mobile {
    @media only all and (min-width: (768px * @reduction-ratio)) {
      & {
        display: none !important;
      }
    }
    @media only all and (max-width: (767px * @reduction-ratio)) {
      .isDesktop & {
        display: none !important;
      }
    }
  }
}


// Responsive rules for...
// Retina
@media
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
}

// >=@{max-width-base}px
@media only all and (min-width: @max-width-base) {
}

// <@{max-width-base}px
@media only all and (max-width: (@max-width-base - 1)) {
  html {
    font-size: (@font-size-base * @reduction-ratio);
  }

  .mobile-menu-link {
    display: block;
  }
  nav {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 1;
    transition: right .3s;

    .nav-opened & {
      right: 0;
    }
  }
}

// <768px
@media only all and (max-width: (767px * @reduction-ratio)) {
}

// <=600px
@media only all and (max-width: (600px * @reduction-ratio)) {
}

// <=480px
@media only all and (max-width: (480px * @reduction-ratio)) {
}

// <=380px
@media only all and (max-width: (380px * @reduction-ratio)) {
}